<% 
  classes = cycle("one","two","three","four")
  classes += " #{content.resource.css_class}" unless content.resource.css_class.blank?
  classes += " type_#{(content.resource.display_type || 0)}"
  classes += ' slideshow' if content.resource.has_slideshow?
-%>
<div class="teaser <%= classes %>" id="teaser_<%= content.resource.id %>">
  <div class="content<%= " #{content.resource.css_class}" %>">
    <% if content.resource.images.any? -%>
    <div class="images">
      <% if content.resource.link.present? %>
      <%= link_to image_tag(display_image_path(:size => "#{content.resource.image_size}g-#{content.resource.images.first.gravity}", :id => content.resource.images.first, :format => content.resource.images.first.extname), :alt => content.resource.images.first.title ), content.resource.link %>
      <% else %>
      <%= image_tag(display_image_path(:size => "#{content.resource.image_size}g-#{content.resource.images.first.gravity}", :id => content.resource.images.first, :format => content.resource.images.first.extname), :alt => content.resource.images.first.title ) %>
      <% end %>
      <% if content.resource.has_slideshow? -%>
        <% content.resource.images.each do |image| -%>
          <% if image != content.resource.images.first -%>
            <%= image_tag(display_image_path(:size => "#{content.resource.image_size}g-#{image.gravity}", :id => image, :format => image.extname), :alt => image.title, :style => "display:none") %>
          <% end -%>
        <% end -%>
      <% end -%>
    </div>
    <% end -%>
    <% if content.resource.link.present? %>
    <h2><%= link_to content.resource.title, content.resource.link %></h2>
    <% else %>
    <h2><%= content.resource.title %></h2>
    <% end %>
    <%= content.resource.body %>
  </div>
</div>