<div class="sort_contents add controls">
  <a class="add new" href="#">Lägg till innehåll</a>
</div>
<div class="sub_controls" style="display:none;">
  <ul>
    <li><a href="<%= new_admin_content_path(:content => { :context_id => page.id, :context_type => 'Page', :context_id => page.id, :context_type => 'Page', :resource_type => 'ContentTextfield', :column_position => column }) %>">Text</a></li>
    <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[image_asset_id]', :params => {'content[context_id]' => page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentImage', 'content[column_position]' => column }}) %>">Bild</a></li>
    <!-- Everything except text + images is disabled for now
    <li><a href="<%= admin_assets_path(:filters => { :by_type => 'VideoAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[video_asset_id]', :params => {'content[context_id]' => page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentVideo', 'content[column_position]' => column }}) %>">Video</a></li>
    <li><a href="<%= new_admin_content_path(:collection => 1, :content => { :context_id => page.id, :context_type => 'Page', :resource_type => 'ContentTeaser', :column_position => column }) %>">Puffar</a></li>
    <li><a href="<%= admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[image_asset_id]', :params => {'content[context_id]' => page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentImage', 'content[column_position]' => column, :collection => 1 }}) %>">Bildsamling</a></li>
    <li><a href="<%= new_admin_content_path(:content => { :context_id => page.id, :context_type => 'Page', :resource_type => 'ContentModule', :column_position => column }) %>">Modul</a></li> -->
  </ul>
</div>
