<h2 class="label">
  <%= datum.label %>
  <% if datum.instruction_body %>
  <span class="form_help"><%= datum.instruction_body %></span>
  <% end %>
</h2>
<%= form_for datum, :as => :datum, :url => admin_page_datum_path(@page, datum), :html => { :id => "datum_#{datum.id}_edit" } do |f| %>
  <% if datum._parent_document.is_a?(ContentBlock) %>
  <%= hidden_field_tag 'parent_id', datum._parent_document.id %>
  <% end %>
  <% datum.data.each_with_index do |d, i| %>
    <%= fields_for 'datum[data_attributes][]', d, :index => i do |datum_fields| %>
      <%= datum_fields.hidden_field :id %>
      <% if d.kind_of?(Field) %>
      <%= render :partial => "admin/data/#{d.input_type}_form", :locals => { :f => datum_fields, :datum => d } %>
      <% elsif d.is_a?(Image) %>
      <%= render :partial => "admin/data/image_form", :locals => { :f => datum_fields, :datum => d } %>
      <% end %>
    <% end %>
  <% end %>
  <div class="editable">
    <div class="submit">
      <%= f.submit t(:save) %>
    </div>
  </div>
<% end %>