<div id="sub_nav">
  <% if Rails.application.config.use_fulltext_search %>
  <%= form_for :asset, :url => search_admin_pages_path, :html => { :method => :get } do |f| %>
  <div class="search fullwidth">
    <%= text_field_tag :query, (@query || 'Sök efter sidor'), :class => "search_query", :id=> "search_query" %>
    <%= submit_tag "Sök", :style => "display:none" %>
  </div>
  <% end %>
  <% end %>
  <ul class="filter">
    <li<%= ' class="current"'.html_safe if current_scopes[:with_page_template].blank? %>><%= link_to "Alla", admin_pages_path(current_scopes.except(:with_page_template)) %></li>
    <% PageTemplate.all.each do |page_template| -%>
    <li<%= ' class="current"'.html_safe if current_scopes[:with_page_template] == page_template.id.to_s %>><%= link_to page_template.title, admin_pages_path(current_scopes.merge(:with_page_template => page_template.id)) %></li>
    <% end -%>
  </ul>
  <div class="label">Status</div>
  <ul class="filter">
    <li<%= ' class="current"'.html_safe if !current_scopes[:is_published] %>>
      <%= link_to "Alla", admin_pages_path(current_scopes.except(:is_published)) %>
    </li>
    <li<%= ' class="current"'.html_safe if current_scopes[:is_published]%>>
      <%= link_to "Utkast", admin_pages_path(current_scopes.merge(:is_published => 'false')) %>
    </li>
  </ul>
  <% if @tags && @tags.any? -%>
    <div class="label">Nyckelord</div>
    <ul class="tags alphabetical">
      <% @tags.sort_by(&:name).group_by { |tag| tag.name[0...1].upcase }.each do |first_letter, tags| -%>
        <li>
        <span class="letter"><%= first_letter %></span>
        <% tags.each do |tag| -%>
          <%= !@current_tags.include?(tag.name) ? link_to("#{tag.name.downcase}", admin_pages_path(:tags => (params[:tags] || []).dup.push(tag.name)), :class => 'tag') : link_to("#{tag.name.downcase}", admin_pages_path(:tags => (params[:tags].dup - [tag.name])), :class => 'tag current') -%><%= ', ' unless tag == tags.last -%>
        <% end -%>
        </li>
      <% end -%>
    </ul><% end -%>
</div>
