<% @page_title = 'Sidor' -%>
<% @page_class = 'layout3' -%>
<%= render :partial => 'admin/pages/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1>Sidor</h1>
    <% if @page_template.present? && @page_template.pages_sortable? %>
    <span class="away">
      <%= link_to "Sortera sidor", pages_admin_page_template_path(@page_template) %>
    </span>
    <% end %>
  </div>
  <div class="tools">
    <div class="add">
      <span class="label">Lägg till:</span>
      <% @page_templates.each do |page_template| -%>
        <%= link_to page_template.title, new_admin_page_path(:page_template_id => page_template.id), :class => 'new' %>
      <% end if @page_templates.any? %>
    </div>
    <%= form_tag admin_pages_path, :method => :get do |f| %>
    <div class="sort">
      <label for="filters_order_by">Sortering:</label>
      <% current_scopes.except(:order_by).each do |filter, value| -%>
        <%= hidden_field_tag filter, value %>
      <% end -%>
        <%= select_tag 'order_by', options_for_select({ 'Senast ändrad' => 'updated_at desc', 'Publicerad' => 'published_on desc', 'A-Z' => 'title asc' }, current_scopes[:order_by]) %>
    </div>
    <% end %>
  </div>
  <div id="content">
    <ul class="items">
    <% @pages.each do |page| %>
      <li>
        <span class="title"><%= link_to page.title, admin_page_path(page.id) %></span>
        <% unless page.full_uri.blank? -%>
        <span class="uri">
          <%= page_path(:page_template_id => page.page_template_id, :id => page.uri) %>
        </span>
        <% end -%>
        <% if page.tags.any? -%>
        <span class="tags"><%= page.tags.collect { |tag| link_to(tag.name, admin_pages_path(:tags => [tag.name]))}.join(', ').html_safe %></span>
        <% end -%>
        <span class="meta">
          <% if page.updated_at && page.updated_at != page.created_at -%>
          Senast ändrad <%= page.updated_at.strftime("%d %b %Y %H:%M") %>.
          <% end -%>
          <% if page.published? %>
          Publicerad <%= page.published_on.strftime("%d %b %Y %H:%M") %>.
          <% end %>
        </span>
        <span class="edit">
          <%= link_to "Ändra", admin_page_path(page.id) %>
          <%= link_to "Ta bort", admin_page_path(page.id), { :method => :delete, :confirm => "Är du säker, detta går inte att ångra." } %>
        </span>
      </li>
    <% end %>
    </ul>
  </div>
</div>