<% @page_title = 'Sidor' -%>
<% @page_class = 'layout3' -%>
<%= render :partial => 'admin/pages/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1>Sidor</h1>
    <% if @field_set.present? && @field_set.pages_sortable? %>
    <span class="away">
      <%= link_to "Sortera sidor", pages_admin_field_set_path(@field_set) %>
    </span>
    <% end %>
  </div>
  <div class="tools">
    <div class="add">
      <span class="label">Lägg till:</span>
      <% @field_sets.each do |field_set| -%>
        <%= link_to field_set.title, (!current_scopes[:with_parent] ? new_admin_page_path(:page => { :field_set_id => field_set.id }) : new_admin_page_path(:page => { :field_set_id => field_set, :parent_id => current_scopes[:with_parent].split(',')[0], :parent_type => current_scopes[:with_parent].split(',')[1] })), :class => 'new' %>
      <% end if @field_sets.any? %>
    </div>
    <%= form_tag admin_pages_path, :method => :get do |f| %>
    <div class="sort">
      <label for="filters_order_by">Sortering:</label>
      <% current_scopes.except(:order_by).each do |filter, value| -%>
        <%= hidden_field_tag filter, value %>
      <% end -%>
        <%= select_tag 'order_by', options_for_select({ 'Senast ändrad' => 'updated_at desc', 'Publicerad' => 'published_on desc', 'A-Z' => 'title asc' }, current_scopes[:order_by]) %>
    </div>
    <% end %>
  </div>
  <div id="content">
    <ul class="items">
    <% @pages.each do |page| %>
      <li>
      <%= render :partial => page.template.views.admin_in_list, :locals => { :page => page } %>
      </li>
    <% end %>
    </ul>
  </div>
</div>