<% @page_title = "Skapa en ny sida" %>
<% @page_class = "AB content" -%>
<div id="workspace">
  <div class="header">
    <h1>Lägg till <%= @page.page_template ? @page.page_template.label.downcase : 'sida' %></h1>
  </div>
  <div id="content">
    <%= form_for [:admin, @page], :as => :page, :url => admin_pages_path do |f| %>
      <%= render 'admin/shared/error_messages', :object => f.object %>
      <%= hidden_field_tag 'type', params[:type] if params[:type] %>
      <%= hidden_field_tag 'page_template_id', @template.id %>

      <label for="page_title"><%= f.object.page_template && f.object.page_template.page_label.present? ? f.object.page_template.page_label : Page.human_attribute_name(:title) %></label>
      <div class="fullwidth"><%= f.text_field :title, :class => "title" %></div>

      <div class="uri_field">
        <%# Print out correct URL instead of localhost %>
        <%= f.label :uri, "http://localhost/" %>
        <%= f.text_field :uri, :class => "uri" %>
      </div>

      <div class="submit">
        <%= f.submit t(:save), :class => 'commit' %> eller <%= link_to t(:cancel), previous_view_path(admin_pages_path) %>
      </div>
    <% end %>
  </div>
</div>