<% @page_title = "Skapa en ny sida" %>
<% @page_class = "AB content" -%>
<div id="workspace">
  <div class="header">
    <h1>Lägg till <%= @page.field_set ? @page.field_set.title.downcase : 'sida' %></h1>
  </div>
  <div id="content">
    <%= form_for [:admin, @page] do |f| %>
      <%= render 'admin/shared/error_messages', :object => f.object %>
      <%= f.hidden_field :field_set_id %>

      <label for="page_title"><%= f.object.field_set && f.object.field_set.page_label.present? ? f.object.field_set.page_label : Page.human_attribute_name(:title) %></label>
      <%= f.text_field :title, :class => "title" %>

      <%= f.label :uri %>
      <%= f.text_field :uri, :class => "uri" %>

      <div class="submit">
        <%= f.submit t(:save), :class => 'commit' %> eller <%= link_to t(:cancel), previous_view_path(admin_pages_path) %>
      </div>
    <% end %>
  </div>
</div>