<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
  <h2 class="label">Publicering</h2>
  <div id="page_publish_on_date">
    <div id="page_current_publish_on_date">
    <% if @page.published_on %>
      <p>Publiceringsdatum: <%= @page.published_on.in_time_zone.strftime("%d %B %Y") %></p>
      <p><a href="#" class="toggle_publish_date">Ändra</a></p>
    <% else %>
      <p><strong><%=t '.not_published' %></strong></p>
      <p><a href="#" class="toggle_publish_date">Välj ett publiceringsdatum</a> eller
      <%= link_to t('.publish_now'), publish_admin_page_path(@page.id), :method => :put, :class => 'new' %></p>
    <% end %>
    </div>
    <%= form_for [:admin, @page], :html => { :id => 'page_published_on_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field :published_on, :value => (@page.published_on.present? ? @page.published_on.in_time_zone.to_date : nil), :class => 'date', :placeholder => 'År-Månad-Dag' %>
        <div class="submit">
          <input type="submit" value="Spara publiceringsdatum"> eller <a href="#">avbryt</a>
        </div>
      </div>
    <% end %>
  </div>
  <h2 class="label">Skapad och ändrad</h2>
  <% if @page.created_by -%>
  <p>Skapad av: <%= @page.created_by.name %>.</p>
  <% end -%>
  <p>Senast ändrad: <%= @page.updated_at.strftime("%d %B %Y") %><%= " av #{@page.updated_by.name}" if @page.updated_by %>.</p>

  <% if @page.page_template.allow_categories? -%>
  <h2 class="label">Kategori</h2>
  <div id="page_category">
    <div id="category_view">
      <% if @page.category.present? -%>
      <p><%= @page.category.name %></p>
      <% end -%>
      <p><a href="#" class="change"><%= @page.category.present? ? t('.edit_category') : t('.choose_category') %></a></p>
    </div>
    <%= form_for [:admin, @page], :html => { :id => 'choose_page_category_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.select @page.category_method_name, Page.tags_by_count(:namespace => @page.page_template.handle).collect { |t| [t.name.titlecase, "\"#{t.name}\""] }, :include_blank => 'Ingen kategori' %>
        <a href="#" id="new_category"><%= t('.add_new_category') %></a><br>
        <input type="submit" value="<%= t('choose') %>"> <%= t(:or) %> <a href="#" class="cancel"><%= t(:cancel) %></a>
      </div>
    <% end -%>
    <%= form_for [:admin, @page], :html => { :id => 'page_categories_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field @page.category_method_name, :value => '' %>
        <input type="submit" value="<%= t(:save) %>"> <%= t(:or) %> <a href="#"><%= t(:cancel) %></a>
      </div>
    <% end -%>
  </div>
  <% end -%>
  <h2 class="label">Nyckelord</h2>
  <div id="page_tags">
    <div id="page_tags_list">
      <p class="tags">
      <%= @page.tags.collect { |tag| link_to(tag.name, admin_pages_path(:tags => (params[:tags] || []).dup.push(tag.name)), :class => 'tag') }.join(', ').html_safe -%>
      </p>
    </div>
    <%= form_for [:admin, @page], :html => { :id => 'page_tags_form' } do |f| -%>
      <div>
        <%= f.text_field :tag_names %>
        <div class="submit">
          <input type="submit" value="Spara">
        </div>
      </div>
    <% end -%>
  </div>
</div>
<div id="workspace">
  <div class="header">
    <span class="away">
      <a href="#" class="edit_settings toggler action"><span>Ändra</span></a>
      <% if @page.published? -%>
        <%= link_to "Visa på webbplatsen", page_path(:id => @page.uri, :page_template_id => @page.page_template_id), :class => 'public_link action' %>
      <% else -%>
      <%= link_to "Förhandsgranska", preview_page_path(@page.id), :class => 'public_link action' %>
      <% end -%>
    </span>
    <div class="parents"><%# link_to @page.page_template.title, admin_pages_path(:with_page_template => @page.page_template) %></div>
    <div class="page_title">
      <h1><%= @page.title %></h1>
    </div>
  </div>
  <div class="header" style="display:none;">
    <%= form_for @page, :url => admin_page_path(@page.id) do |f| %>
      <%= render :partial => 'admin/shared/error_messages', :locals => { :object => @page } %>
      <label for="page_title" class="first_label"><%= @page.page_template.page_label.present? ? @page.page_template.page_label : "Titel" %></label>
      <div class="fullwidth">
        <%= f.text_field :title, :class => 'title' %>
      </div>
      <div class="uri_field">
        <label for="page_uri">Adress:</label>
        <%= f.text_field :uri %>
      </div>
      <div class="restricted_field">
        <label for="page_restricted">
          <%= f.check_box :restricted %>
          Kräv inlogging för att se denna sida
        </label>
      </div>
      <div class="submit">
        <input type="submit" value="Spara"> eller <a href="#" class="toggler">avbryt</a>
      </div>
    <% end %>
  </div>
  <div id="content" class="datums">
  <% @page.data.each_with_index do |datum, index| %>
    <div class="datum <%= datum.class.to_s.underscore %><%= " #{datum.input_type}" if datum.respond_to?(:input_type) %>">
    <% if datum.is_a?(Field) %>
      <%= form_for datum, :as => :datum, :url => admin_page_datum_path(@page, datum), :html => { :id => "datum_#{datum.id}_edit" } do |f| %>
        <%= render :partial => "admin/data/#{datum.input_type}_form", :locals => { :f => f, :datum => datum } %>
      <% end %>
    <% elsif datum.is_a?(FieldSet) %>
      <h2><%= datum.label %></h2>
      <%= form_for datum, :as => :datum, :url => admin_page_datum_path(@page, datum), :html => { :id => "datum_#{datum.id}_edit" } do |f| %>
        <% datum.data.each_with_index do |d, i| %>
          <%= fields_for 'datum[data_attributes][]', d, :index => i do |datum_fields| %>
            <%= datum_fields.hidden_field :id %>
            <%= render :partial => "admin/data/#{d.input_type}_form", :locals => { :f => datum_fields, :datum => d } %>
          <% end %>
        <% end %>
        <div class="editable">
          <div class="submit">
            <%= f.submit t(:save) %>
          </div>
        </div>
      <% end %>
    <% elsif datum.is_a?(ContentBlock) %>
      <h2><%= datum.label %></h2>
      <div class="add controls">
        <h3 class="new"><%= t('.add_content') %></h3>
        <ul>
          <li><%= link_to Textfield.model_name.human, new_admin_page_datum_content_path(@page, datum, :type => 'Textfield') %></li>
          <li><%= link_to Teaser.model_name.human, new_admin_page_datum_content_path(@page, datum, :type => 'Teaser') %></li>
          <li><%= link_to Image.model_name.human, admin_assets_path(:by_type => 'ImageAsset', :create_callback => { :path => new_admin_page_datum_content_path(@page, datum), :asset_field_name => 'content[asset_id]', :params => { :type => 'Image' }}) %></li>
        </ul>
      </div>
      <ul class="contents sortable" data-sort-uri="<%= sort_admin_page_datum_contents_path(@page, datum) %>">
      <% datum.data.sort_by(&:position).each do |content| %>
        <li id="content_<%= content.id %>" class="content <%= content.class.to_s.underscore %><%= ' inactive' unless content.active? %>">
          <%= render :partial => "admin/contents/#{content.class.to_s.tableize}/#{content.class.to_s.underscore}", :locals => { :content => content } %>
          <span class="edit">
            <%= link_to t(:edit), edit_admin_page_datum_content_path(@page, datum, content) %>
            <%= link_to content.active? ? 'Dölj' : 'Visa', toggle_admin_page_datum_content_path(@page, datum, content), :method => :put, :class => 'visibility' %>
            <%= link_to "Ta bort", admin_page_datum_content_path(@page, datum, content), :method => :delete, :confirm => "Är du säker? Detta går inte att ångra.", :class => 'delete' %>
          </span>
        </li>
      <% end %>
      </ul>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
