<% @page_title = "Sidor > #{@page.title}" -%>
<% @page_class = "layout3" -%>
<div id="sub_nav">
  <h2 class="label">Publicering</h2>
  <div id="page_publish_on_date">
    <div id="page_current_publish_on_date">
    <% if @page.published_on %>
      <p>Publiceringsdatum: <%= @page.published_on.strftime("%d %B %Y") %></p>
      <p><a href="#" class="toggle_publish_date">Ändra</a></p>
    <% else %>
      <p><strong>Sidan är inte publicerad</strong></p>
      <p><a href="#" class="toggle_publish_date">Välj ett publiceringsdatum</a> eller
      <%= link_to t(:publish_now, :scope => [:app, :views, :admin, :pages, :show]), publish_admin_page_path(@page.id), :method => :put, :class => 'new' %></p>
    <% end %>
    </div>
    <%= form_for [:admin, @page], :html => { :id => 'page_published_on_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.date_select :published_on, :order => [:day, :month, :year ] %>
        <input type="submit" value="Spara publiceringsdatum"> eller <a href="#">avbryt</a>
      </div>
    <% end %>
  </div>
  <h2 class="label">Skapad och ändrad</h2>
  <% if @page.created_by -%>
  <p>Skapad av: <%= @page.created_by.name %>.</p>
  <% end -%>
  <p>Senast ändrad: <%= @page.updated_at.strftime("%d %B %Y") %><%= " av #{@page.updated_by.name}" if @page.updated_by %>.</p>

  <% if @page.field_set.allow_categories? -%>
  <h2 class="label">Kategori</h2>
  <div id="page_category">
    <div id="category_view">
      <% if @page.category.present? -%>
      <p><%= @page.category.name %></p>
      <% end -%>
      <p><a href="#" class="change"><%= @page.category.present? ? 'Ändra' : 'Välj' %> kategori</a></p>
    </div>
    <%= form_for [:admin, @page], :html => { :id => 'choose_page_category_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.select @page.category_method_name, Tag.on('Page').namespaced_to(@page.field_set.handle).collect { |t| [t.name.titlecase, "\"#{t.name}\""] }, :include_blank => 'Ingen kategori' %>
        <a href="#" id="new_category">Lägg till</a><br>
        <input type="submit" value="Välj"> eller <a href="#" class="cancel">avbryt</a>
      </div>
    <% end -%>
    <%= form_for [:admin, @page], :html => { :id => 'page_categories_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field @page.category_method_name, :value => '' %>
        <input type="submit" value="Spara"> eller <a href="#">avbryt</a>
      </div>
    <% end -%>
  </div>
  <% end -%>
</div>
<div id="workspace">
  <div class="header">
    <span class="away">
      <a href="#" class="edit_settings toggler action"><span>Ändra</span></a>
      <% if @page.published? -%>
        <%= link_to "Visa på webbplatsen", page_path(:id => @page.uri, :field_set_id => @page.field_set_id), :class => 'public_link action' %>
      <% else -%>
      <%= link_to "Förhandsgranska", preview_page_path(@page.id), :class => 'public_link action' %>
      <% end -%>
    </span>
    <div class="parents"><%# link_to @page.field_set.title, admin_pages_path(:with_field_set => @page.field_set) %></div>
    <div class="page_title">
      <h1><%= @page.title %></h1>
    </div>
  </div>
  <div class="header" style="display:none;">
    <%= form_for @page, :url => admin_page_path(@page.id) do |f| %>
      <label for="page_title" class="first_label"><%= @page.field_set.page_label.present? ? @page.field_set.page_label : "Titel" %></label>
      <div class="fullwidth">
        <%= f.text_field :title, :class => 'title' %>
      </div>
      <div class="uri_field">
        <label for="page_uri">Adress:</label>
        <%= f.text_field :uri %>
      </div>
      <div class="restricted_field">
        <label for="page_restricted">
          <%= f.check_box :restricted %>
          Kräv inlogging för att se denna sida
        </label>
      </div>
      <div class="submit">
        <input type="submit" value="Spara"> eller <a href="#" class="toggler">avbryt</a>
      </div>
    <% end %>
  </div>
  <div id="content" class="page_contents">
  <%= form_for [:admin, @page] do |f| %>
    <% @page.data.each_with_index do |datum, index| %>
      <%= fields_for 'page[data_attributes][]', datum, :index => index do |datum_fields| %>
        <%= datum_fields.hidden_field :id %>
        <%= datum_fields.label :value, datum.label %>
        <% if datum.is_a?(DatumAttribute) %>
          <% begin %>
            <%= render :partial => "admin/datum/#{datum_fields.object.input_type}_form", :locals => { :f => datum_fields } %>
          <% rescue ActionView::MissingTemplate %>
            <%= datum_fields.text_field :value %>
          <% end %>
        <% elsif datum.is_a?(ContentBlock) %>
          <%= link_to 'Lägg till innehåll', new_admin_content_path(:content_block_id => datum.id, :type => 'Textfield') %>
          <% datum.contents.each do |content| %>
            <%= content.title %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>