<% @page_class = @page_renderer.layout_class -%>
<% @page_title = @page_renderer.title -%>
<% @page_id    = @page_renderer.page_id -%>
<div id="content">
  <h1><%= @page_renderer.title %></h1>
  <ul>
  <% @page_renderer.pages.each do |page| %>
    <li>
      <h2><%= link_to page.title, "/#{page.index_node.url}/#{page.calendar_date.strftime("%Y/%m/%d")}/#{page.to_param}" %></h2>
      <p><%= page.description %> <span class="date"><%= l page.calendar_date, :format => :long %></span></p>
    </li>
  <% end %>
  </ul>
  <%= render :partial => 'pages/templates/calendar/archive', :locals => { :renderer => @page_renderer } %>
</div>
