<% @page_title = t('.title') -%>
<% @page_class = 'layout3' -%>
<% @page_id = 'site-settings' -%>
<%= render 'admin/nodes/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1><%= t(:title, :scope => [:app, :views, :admin, :redirects, :edit]) %></h1>
  </div>
  <div id="content">
    <%= form_for :redirect, :url => admin_redirect_path(@redirect), :html => {:method => :put, :class => "tiny" } do |f| %>
      <%= render 'admin/shared/error_messages', :object => f.object %>
      <%= f.label :path %>
      <%= f.text_field :path %>
      <p class="form_help after"><%= t(:path, :scope => [:app, :views, :admin, :redirects, :shared, :form_help]) %></p>
      <%= f.label :target %>
      <%= f.text_field :target %>
      <p class="form_help after"><%= t(:target, :scope => [:app, :views, :admin, :redirects, :shared, :form_help]) %></p>
      <div class="submit">
        <%= submit_tag t(:save) %> eller <%= link_to t(:cancel), admin_redirects_path %>
      </div>
    <% end %>
  </div>
</div>
