<% @page_title = t('.title') -%>
<% @page_class = 'layout3' -%>
<% @page_id = 'site-settings' -%>
<%= render 'admin/nodes/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1><%= t(:title, :scope => [:app, :views, :admin, :redirects, :index]) %></h1>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to t('.new_redirect'), new_admin_redirect_path, :class => 'new' %>
    </div>
  </div>
  <div id="content">
    <% if @redirects.any? %>
      <table>
        <tr>
          <th><%= t(:from, :scope => [:app, :views, :admin, :redirects, :index, :table]) %></th>
          <th><%= t(:to, :scope => [:app, :views, :admin, :redirects, :index, :table]) %></th>
          <th></th>
          <th></th>
        </tr>
        <% @redirects.each do |redirect| %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%= link_to redirect.path, redirect.path %></td>
            <td>&rarr; <%= link_to redirect.target, redirect.target %></td>
            <td><%= link_to t(:edit), edit_admin_redirect_path(redirect) %></td>
            <td><%= link_to t(:destroy), admin_redirect_path(redirect), :method => :delete, :class => 'delete', :confirm => 'Är du säker?' %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p class="blank-slate"><%= t(:no_data, :scope => [:app, :views, :admin, :redirects, :index]) %></p>
    <% end %>
  </div>
</div>
