<div id="field_types">
  <div class="type TextField">
    <label for="field_allow_rich_text" class="contains-input">
      <%= f.check_box :allow_rich_text %>
      Tillåt textformatering?
    </label>
  </div>
  <div class="type PageAssociationField">
    <label for="field_page_relationship" class="contains-input">
      Typ av relation: <%= f.select :relationship, [['En till en', 'one_to_one'], ['En till många', 'one_to_many']], :id => 'field_page_relationship' %>
    </label>
    <label for="field_association_source_id" class="contains-input">
      Kan relatera till: <%= f.select :association_source_id, FieldSet.all.collect { |p| [p.title, p.id ] }, :include_blank => "Alla sidor" %>
    </label>
  </div>
  <div class="type ReversedPageAssociationField">
    <label for="field_target_handle">Vad heter associationen?</label>
    <%= f.text_field :target_handle %>
    <label for="field_reversed_page_association">
      Typ av relation: <%= f.select :relationship, [['En till en', 'one_to_one'], ['En till många', 'one_to_many']], :id => 'field_reversed_page_association' %>
    </label>
  </div>
  <div class="type AssetAssociationField">
    <label for="field_asset_relationship" class="contains-input">
      Typ av relation: <%= f.select :relationship, [['En till en', 'one_to_one'], ['En till många', 'one_to_many']], :id => 'field_asset_relationship' %>
    </label>
  </div>
</div>
<%= render 'admin/shared/error_messages', :object => f.object %>

<label for="field_label">Namn</label>
<%= f.text_field :label %>

<label for="field_handle">Fältnamn</label>
<%= f.text_field :handle %>

<label for="field_required" class="contains-input">
  <%= f.check_box :required %> Obligatorisk?
</label>

<label for="field_notice">Instruktioner</label>
<%= f.text_area :instructions, :rows => 3 %>

<label for="field_type" class="contains-input">
  Typ <%= select_tag 'field_type', options_for_select(Field.types.collect { |type| [type.human_name, type.to_s] }, :selected => @field.class.to_s) %>
</label>

<div id="field_customizations"></div>
