<div class="container">
  <h2 class="field_label"><%= field.label %></h2>
  <% if custom_associations.any? -%>
    <ul class="pages sortable" id="page_<%= field.handle %>_list">
      <% custom_associations.each do |custom_association| -%>
        <li id="custom_association_<%= custom_association.id %>">
        <span class="drag_handle"></span>
        <%= link_to custom_association.target.title, admin_page_path(custom_association.target), :class => 'page' %>
        <% unless custom_associations.size == 1 && field.required? -%>
          <%= link_to("Ta bort", admin_page_custom_association_path(@page, custom_association), :class => 'delete', :method => :delete) %>
        <% end -%>
        </li>
      <% end -%>
    </ul>
  <% end -%>
  <div class="edit">
    <% if field.relationship == 'one_to_one' -%>
      <a href="#" class="change">Ändra <%= field.label %></a>
    <% elsif custom_associations.size != field.possible_targets.size -%>
      <a href="#" class="add">Lägg till <%= field.label %></a>
    <% end -%>
  </div>
</div>
<% if field.relationship == 'one_to_many' -%>
  <% form_for :custom_association, :url => admin_page_custom_associations_path(@page.id), :html => { :style => 'display:none;', :class => 'select_page' } do |f| %>
    <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
    <%= f.hidden_field :field_id, :value => field.id %>
    <%= f.hidden_field :handle, :value => field.handle %>
    <%= f.hidden_field :relationship, :value => field.relationship %>
    <label for="page_<%= field.label %>"><%= field.label %></label>
    <%= f.select :target_id, field.possible_targets.find_all { |pt| !custom_associations.collect { |ca| ca.target_id }.include?(pt['id'].to_i) }.collect { |pt| [pt['title'], pt['id']] }, :selected => custom_associations.collect { |ca| ca.target_id } %>
    <div class="submit_inline">
      <input type="submit" value="Lägg till">
      eller <a href="#" class="cancel">avbryt</a>
    </div>
  <% end -%>
<% elsif field.relationship == 'one_to_one' -%>
  <% if custom_associations.any? -%>
    <% form_for custom_associations.first, :url => admin_page_custom_association_path(@page.id, custom_associations.first), :html => { :method => :put, :style => 'display:none;' } do |f| %>
      <label for="page_<%= field.label %>"><%= field.label %></label>
      <%= f.select :target_id, field.possible_targets.collect { |pt| [pt['title'], pt['id']] } %>
      <div class="submit_inline">
        <input type="submit" value="<%= field.relationship == 'one_to_one' ? 'Ändra' : 'Lägg till' %>"> eller <a href="#" class="cancel">avbryt</a>
      </div>
    <% end -%>
  <% else -%>
    <% form_for :custom_association, :url => admin_page_custom_associations_path(@page.id), :html => { :style => 'display:none;' } do |f| %>
      <%= f.hidden_field :target_type, :value => field.target_class.to_s %>
      <%= f.hidden_field :field_id, :value => field.id %>
      <%= f.hidden_field :handle, :value => field.handle %>
      <%= f.hidden_field :relationship, :value => field.relationship %>
      <label for="page_<%= field.label %>"><%= field.label %></label>
      <%= f.select :target_id, field.possible_targets.find_all { |pt| !custom_associations.collect { |ca| ca.target_id }.include?(pt['id'].to_i) }.collect { |pt| [pt['title'], pt['id']] } %>
      <div class="submit_inline">
        <input type="submit" value="Spara"> eller <a href="#" class="cancel">avbryt</a>
      </div>
    <% end -%>
  <% end -%>
<% end -%>
