<% @page_title = "Sidtyper > #{@field_set.title} > Lägg till fält" %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render :partial => 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Nytt fält i <%= @field_set.title %></h1>
  </div>
  <div id="content">
    <%= form_for @field, :url => admin_field_set_fields_path(@field_set), :html => { :id =>  'field_form' } do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <div class="submit">
        <input type="submit" value="Spara"> eller <%= link_to "avbryt", previous_view_path(admin_field_set_path(@field_set)) %>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'admin/application' %>
<% end %>
