<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render :partial => 'admin/shared/settings_sub_nav' %>
  </div>
<div id="workspace">
  <div class="header">
    <h1>Ändra på <%= @content_list.name %></h1>
  </div>
  <div id="content">
  <% form_for @content_list, :url => admin_content_list_path(@content_list) do |f| %>
    <label for="content_list_name">
      Namn
      <span class="handle"><%= @content_list.handle %></span>
    </label>
    <%= f.text_field :name %>
    <div class="submit">
      <input type="submit" value="Spara"> eller <%= link_to "avbryt", previous_view_path(admin_content_lists_path) %>
    </div>
  <% end %>
  </div>
</div>
