<span class="title"><%= link_to page.title, admin_page_path(page.id) %></span>
<% unless page.full_uri.blank? -%>
<span class="uri">
  <%=  page_path(:field_set_id => page.field_set_id, :id => page.uri) %>
</span>
<% end -%>
<% if page.tags.any? -%>
<span class="tags"><%= page.tags.collect { |tag| link_to(tag, admin_pages_path(:tags => [tag]))}.join(', ').html_safe %></span>
<% end -%>
<span class="meta">
  <% if page.updated_at && page.updated_at != page.created_at -%>
  Senast ändrad <%= page.updated_at.strftime("%d %b %Y %H:%M") %>.
  <% end -%>
  <% if page.published? %>
  Publicerad <%= page.published_on.strftime("%d %b %Y %H:%M") %>.
  <% end %>
</span>
<span class="edit">
  <%= link_to "Ändra", admin_page_path(page.id) %>
  <%= link_to "Ta bort", admin_page_path(page.id), { :method => :delete, :confirm => "Är du säker, detta går inte att ångra." } %>
</span>
