<div id="sub_nav">
  <% if Rails.application.config.use_fulltext_search %>
  <%= form_for :asset, :url => search_admin_assets_path(:type => params[:type]), :html => { :method => :get } do |f| %>
    <div class="search fullwidth">
      <%= text_field_tag :query, (@query || 'Sök efter filer'), :class => "search_query", :id=> "search_query" %>
      <%= submit_tag "Sök", :style => "display:none" %>
    </div>
  <% end %>
  <% end %>
  <div class="label">Uppladdad av</div>
  <ul class="filter">
    <li<%= ' class="current"' unless current_scopes[:created_by] %>>
      <%= link_to "Alla", admin_assets_path(current_scopes.except(:created_by)) %>
    </li>
    <% if false %>
    <% Asset.recent_uploaders.sort_by(&:first_name).each do |user| -%>
      <li<%= ' class="current"' if current_scopes[:created_by].to_i == user.id %>>
        <%= link_to user.short_name, admin_assets_path(current_scopes.merge(:created_by => user.id)) %>
      </li>
    <% end -%>
    <% end %>
  </ul>
<% if @tags.present? and @tags.any? -%>
  <div class="label">Nyckelord</div>
  <ul class="tags alphabetical">
  <% @tags.sort_by(&:name).group_by { |tag| tag.name[0...1].upcase }.each do |first_letter, tags| -%>
    <li>
      <span class="letter"><%= first_letter %></span>
      <% tags.each do |tag| -%>
        <%= !@current_tags.include?(tag.name) ? link_to("#{tag.name.downcase}", admin_assets_path(:tags => (params[:tags] || []).dup.push(tag.name)), :class => 'tag') : link_to("#{tag.name.downcase}", admin_assets_path(:tags => (params[:tags].dup - [tag.name])), :class => 'tag current') -%><%= ', ' unless tag == tags.last -%>
      <% end -%>
    </li>
  <% end -%>
  </ul>
<% end -%>
</div>
