<% @page_title = "Ändra fil: #{@asset.title}" %>
<div id="workspace">
  <div class="header">
    <h1><span class="pre">Ändra filen</span> <%= @asset.title %></h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for @asset, :url => admin_asset_url(@asset), :html => { :method => :put } do |f| %>
        <% if params[:return_to] %>
        <%= hidden_field_tag :return_to, params[:return_to] %>
        <% end %>
        <fieldset>
          <label for="asset_title">Titel</label>
          <div class="fullwidth">
            <%= f.text_field "title", :size => 40, :class => "title" %>
            <p class="form_help after">Skriv vad bilden/filmen/dokumentet föreställer. Används som alternativ text när bilder inte visas.</p>
          </div>
          <label for="asset_description">Beskrivning</label>
          <div class="fullwidth"><%= f.text_area "description", :class => 'descripition', :rows => 6, :cols => 40 %></div>
          <label for="asset_author">Fotograf/copyright</label>
          <div class="fullwidth"><%= f.text_field "author", :size => 50 %></div>
          <label for="asset_tag_names">Nyckelord <span class="form_help">dela flera nyckelord med mellanslag</span></label>
          <div class="fullwidth"><%= f.text_field :tag_names, :class => 'asset_tags', :size => 50 %></div>
        </fieldset>
        <fieldset class="submit">
          <%= submit_tag I18n.t(:save) %> <%= I18n.t(:or) %> <%= link_to I18n.t(:cancel), previous_view_path(admin_assets_path) %>
        </fieldset>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <div class="asset<%= " #{@asset.class}" %>">
        <% if @asset.is_a?(ImageAsset) %>
          <%= image_tag @asset.version_url(:size => '320'), :id => "asset_#{@asset.id}" %>
        <% else %>
          <img src="/graphics/porthos/icons/filetypes/<%= @asset.extension %>.png" alt="" width="100" height="100" class="icon">
        <% end %>
      </div>
      <div class="meta">
        <ul>
          <li><span>Uppladdad</span> <%= @asset.created_at.strftime("%d %B %Y") %></li>
          <li><span>Filnamn</span> <%= "#{@asset.name}.#{@asset.extension}" %></li>
          <li><span>Storlek</span> <%= number_to_human_size(@asset.size) %></li>
          <li><%= link_to "Ladda ned orginal", @asset.remote_url %></li>
        </ul>
      </div>
    </div></div>
  </div>
</div>
