<% @page_title = "Beskriv de uppladdade filerna" %>
<div id="workspace">
  <div class="header">
    <h1>Beskriv de uppladdade filerna</h1>
  </div>
  <div id="content">
    <% form_for :asset, @assets, :url => update_multiple_admin_assets_path, :html => { :method => :put } do |f| %>
      <% @assets.each do |asset| -%>
      <div class="describe_asset">
        <div class="preview">
          <div class="asset<%= " #{asset.class}" %>">
            <% if asset.is_a?(ImageAsset) %>
              <%= image_tag asset.version_url(:size => '260'), :id => "asset_#{asset.id}" %>
            <% else %>
              <img src="/graphics/porthos/icons/filetypes/<%= asset.extension %>.png" alt="" width="100" height="100" class="icon">
            <% end %>
          </div>
        </div>
        <fieldset>
          <label for="assets[<%= asset.id %>][title]">Titel</label>
          <div class="fullwidth"><%= text_field_tag "assets[#{asset.id}][title]", asset.title, :size => "40" %></div>
          <label for="assets[<%= asset.id %>][description]">Beskrivning</label>
          <div class="fullwidth"><%= text_area_tag("assets[#{asset.id}][description]", '', options = {:class => 'description', :rows => 2, :cols => 38}) %></div>
          <label for="assets[<%= asset.id %>][author]">Fotograf/copyright</label>
          <div class="fullwidth"><%= text_field_tag "assets[#{asset.id}][author]", asset.author, :size => "40" %></div>
          <label for="assets[<%= asset.id %>][tag_names]">Nyckelord</label>
          <div class="fullwidth"><%= text_field_tag "assets[#{asset.id}][tag_names]", '', :size => "40", :class => 'asset_tags' %></div>
          <p class="form_help after">Dela fler nyckelord med mellanslag.</p>
        </fieldset>
      </div>
      <% end -%>
      <fieldset class="submit">
        <input type="submit" value="Spara"> eller <%= link_to "avbryt", admin_assets_path %>
      </fieldset>
    <% end %>
  </div>
</div>