<% if content.contents.any? %>
<ul class="content_images sortable" id="content_<%= content.id %>_teasers">
<% content.contents.each do |child| -%>
  <li id="content_<%= child.id %>" class="ContentImage content sortable <%= child.active? ? ' active' : ' inactive' %>">
    <span class="draghandle"></span>
    <span class="inactive_proxy"></span>
    <% if child.resource.asset %>
      <%= image_tag display_image_path(:size => 'c70x70', :id => child.resource.asset, :format => child.resource.asset.extname, :alt => child.resource.title) %>
    <% end %>
    <span class="edit">
      <%= link_to "Ändra", edit_admin_content_path(:id => child, :return_to => request.request_uri) %>
      <%= link_to child.active? ? 'Dölj' : 'Visa', toggle_admin_content_path(child), :method => :put, :class => 'visibility' %>
      <%= link_to "Ta bort", admin_content_path(:id => child), :method => :delete, :confirm => "Är du säker, detta går inte att ångra.", :class => 'delete' %>
    </span>
  </li>
<% end -%>
  <li class="add">
    <%= link_to("Lägg till bild", admin_assets_path(:filters => { :by_type => 'ImageAsset' }, :create_callback => {:controller => 'admin/contents', :action => 'new', :asset_field_name => 'resource[image_asset_id]', :params => {'content[context_id]' => @page.id, 'content[context_type]' => 'Page', 'content[resource_type]' => 'ContentImage', 'content[parent_id]' => content, 'content[column_position]' => content.column_position, :return_to => request.request_uri }}), :class => 'image ContentImage new') %>
  </li>
</ul>
<% end %>
