<% @page_title = "Lägg till bild" %>
<div id="workspace">
  <div class="header">
    <h1>Ändra bild</h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for :resource, @content.resource, :url => admin_content_path(@content), :html => { :method => :put } do |f| %>
        <%= f.hidden_field :image_asset_id, :value => @content.resource.asset.id %>
        <label for="content_image_title">Beskriv vad bilden föreställer</label>
        <div class="fullwidth"><%= f.text_field :title, :value => @content.resource.title %></div>
        <label for="content_image_caption">Bildtext</label>
        <div class="fullwidth"><%= f.text_area :caption, :value => @content.resource.caption, :cols => 30, :rows => 5 %></div>
        <label for="content_image_title">Copyright / Fotograf</label>
        <div class="fullwidth"><%= f.text_field :copyright, :value => @content.resource.copyright %></div>
        <% if @content.parent_id.blank? -%>
        <label for="content_image_format">Format</label>
        <%= f.select :style, ContentImage.styles.collect { |s, klass| [s[:name], s[:class]] } %>
        <% end -%>
        <label for="content_image_downloadable"><%= f.check_box :downloadable %> Länka till original</label>
        <div class="submit">
          <input type="submit" value="Spara bild"> eller <a href="<%= previous_view_path %>" class="back">avbryt</a>
        </div>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <%= image_tag @content.resource.asset.version_url(:size => '320'), :width => 290 %>
    </div></div>
  </div>
</div>
