<% @page_title = "Lägg till bild" %>
<div id="workspace">
  <div class="header">
    <h1>Lägg till bild</h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for :content, @content, :url => admin_contents_path(:collection => params[:collection]) do |f| %>
        <%= f.hidden_field :context_id %>
        <%= f.hidden_field :context_type %>
        <%= f.hidden_field :column_position %>
        <%= f.hidden_field :parent_id %>
        <%= f.hidden_field :resource_type %>
        <%= fields_for :resource do |resource| %>
          <%= resource.hidden_field :image_asset_id, :value => @content.resource.asset.id %>
          <label for="content_image_title">Beskriv vad bilden föreställer</label>
          <div class="fullwidth">
            <%= resource.text_field :title, :value => @content.resource.asset.title, :class => 'title' %>
          </div>
          <label for="content_image_caption">Bildtext</label>
          <div class="fullwidth">
            <%= resource.text_area :caption, :value => @content.resource.asset.description, :cols => 30, :rows => 5 %>
          </div>
          <label for="content_image_title">Copyright / Fotograf</label>
          <div class="fullwidth">
            <%= resource.text_field :copyright, :value => @content.resource.asset.author %>
          </div>
          <% if not @content.parent_id.blank? or params[:collection].to_i != 1 %>
          <label for="content_image_format">Format</label>
          <%= resource.select :style, ContentImage.styles.collect { |s, klass| [s[:name], s[:class]] } %>
          <% end %>
          <label for="resource_downloadable"><%= resource.check_box :downloadable %> Länka till orginal</label>
        <% end %>
        <div class="submit">
          <input type="submit" value="Lägg till bild"> eller <a href="<%= previous_view_path %>" class="back">avbryt</a>
        </div>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <%= image_tag @content.resource.asset.version_url(:size => '320'), :width => 270 %>
    </div></div>
  </div>
</div>
