<%= render 'admin/shared/error_messages', :object => f.object %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :page_label %>
<%= f.text_field :page_label %>

<%= f.label :handle %>
<%= f.text_field :handle %>

<div class="contans_input">
  <%= f.label :template_name %>
  <%= f.select :template_name, PageTemplate.all.collect { |t| [t.name.titlecase, t.handle] } %>
</div>

<%= f.label :description %>
<%= f.text_area :description, :rows => 3 %>

<div class="contains_input">
  <%= f.check_box :pages_sortable %>
  <%= f.label :pages_sortable %>
</div>

<div class="contains_input">
  <%= f.check_box :allow_categories %>
  <%= f.label :allow_categories %>
</div>

<div class="contains_input">
  <%= f.check_box :allow_node_placements %>
  <%= f.label :allow_node_placements %>
</div>