<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
  <div id="sub_nav">
    <%= render :partial => 'admin/shared/settings_sub_nav' %>
  </div>
  <div id="workspace">
    <div class="header">
      <h1>Ändra ”<%= @field_set.title %>”</h1>
    </div>
    <div id="content">
      <%= form_for @field_set, :url => admin_field_set_path(@field_set), :html => { :method => :put } do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <div class="submit">
          <input type="submit" value="Spara ändringar"> eller <%= link_to "avbryt", previous_view_path(admin_field_set_path(@field_set)) %>
        </div>
      <% end %>
    </div>
  </div>
