<% @page_title = 'Sidtyper' %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render :partial => 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1>Alla sidtyper</h1>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to t('.new'), new_admin_field_set_path, :class => "new" %>
    </div>
  </div>
  <div id="content">
  <% if @field_sets.any? -%>
    <table class="sortable">
      <thead>
        <tr>
          <th class="placeholder"></th>
          <th><%= FieldSet.human_attribute_name(:title) %></th>
          <th><%= FieldSet.human_attribute_name(:handle) %></th>
          <th><%= FieldSet.human_attribute_name(:template_name) %></th>
        </tr>
      </thead>
      <tbody id="field_sets">
      <% @field_sets.each do |field_set| %>
        <tr id="field_set_<%= field_set.id %>">
          <td class="handle"><span class="drag_handle"></span></td>
          <td class="title"><%= link_to field_set.title, admin_field_set_path(field_set) %></td>
          <td><%= field_set.handle %></td>
          <td><%= field_set.template_name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end -%>
  </div>
</div>