<% @page_title = "Sidtyper > #{@field_set.title}" %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render :partial => 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1><%= @field_set.title %></h1>
    <span class="away">
      <%= link_to t('.edit'), edit_admin_field_set_path(@field_set), :class => 'edit_settings action' %>
      <%= link_to t('.destroy'), admin_field_set_path(@field_set), :method => 'delete', :confirm => t(:destroy_confirmation, :scope => [:app, :general], :target_name => @field_set.title), :class => 'destroy action' %>
      <%= link_to t('.all_field_sets'), admin_field_sets_path, :class => 'action' %>
      <% if @field_set.pages_sortable? %>
      <%= link_to t(:sort, :scope => [:app, :views, :admin, :field_sets, :show]), pages_admin_field_set_path(@field_set), :class => 'action' %>
      <% end %>
    </span>
  </div>
  <div class="tools">
    <div class="add">
      <form action="<%= new_admin_field_set_field_path(@field_set) %>">
        <%= select_tag 'field_type', options_for_select(Field.types.collect { |type| [type.model_name.human, type.to_s] }, :selected => @field.class.to_s) %>
        <input type="submit" value="<%=t '.add_field' %>" />
      </form>
    </div>
  </div>
  <div id="content">
    <% if @field_set.fields.any? -%>
    <table id="fields_for_field_set_<%= @field_set.id %>" class="sortable">
      <thead>
        <tr>
          <th class="placeholder"></th>
          <th><%= Field.human_attribute_name(:label) %></th>
          <th><%= Field.human_attribute_name(:handle) %></th>
          <th><%= Field.human_attribute_name(:_type) %></th>
          <th><%= Field.human_attribute_name(:required) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="fields">
        <% @field_set.fields.each do |field| -%>
        <tr class="field" id="field_<%= field.id %>">
          <td class="handle"><span class="drag_handle"></span></td>
          <td class="label"><%= field.label %></td>
          <td><%= field.handle %></td>
          <td><%= field.class.model_name.human %></td>
          <td><%= t(field.required? ? :yes : :no) %></td>
          <td><%= link_to t(:edit), edit_admin_field_set_field_path(@field_set, field) %></td>
          <td><%= link_to t(:destroy), admin_field_set_field_path(@field_set, field), :method => :delete, :confirm => "Vill du verkligen ta bort #{field.label}? Fältet och dess infomation kommer tas bort från alla #{@field_set.title} sidor." %>
        </tr>
        <% end -%>
      </tbody>
    </table>
    <% else -%>
    <p class="notice"><%= t('.blank_slate') %></p>
    <% end -%>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'admin/application' %>
<% end %>
