<div id="sub_nav">
  <h2 class="label">Publicering</h2>
  <div id="page_publish_on_date">
    <div id="page_current_publish_on_date">
    <% if @item.published_on %>
      <p>Publiceringsdatum: <%= @item.published_on.in_time_zone.strftime("%d %B %Y") %></p>
      <p><a href="#" class="toggle_publish_date">Ändra</a></p>
      <% if @item.can_have_a_node? %>
        <p><%= link_to 'Placera i navigationen', new_admin_node_path(:resource_id => @item.id) %></p>
      <% end %>
    <% else %>
      <p><strong><%=t '.not_published' %></strong></p>
      <p><a href="#" class="toggle_publish_date">Välj ett publiceringsdatum</a> eller
      <%= link_to t('.publish_now'), publish_admin_item_path(@item.id), :method => :put, :class => 'new' %></p>
    <% end %>
    </div>
    <%= form_for [:admin, @item], :as => :item, :url => admin_item_path(@item), :html => { :id => 'page_published_on_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field :published_on, :value => (@item.published_on.present? ? @item.published_on.in_time_zone.to_date : nil), :class => 'date', :placeholder => 'År-Månad-Dag' %>
        <div class="submit">
          <input type="submit" value="Spara publiceringsdatum"> eller <a href="#">avbryt</a>
        </div>
      </div>
    <% end %>
  </div>
  <h2 class="label">Skapad och ändrad</h2>
  <% if @item.created_by -%>
  <p>Skapad av: <%= @item.created_by.name %>.</p>
  <% end -%>
  <p>Senast ändrad: <%= @item.updated_at.strftime("%d %B %Y") %><%= " av #{@item.updated_by.name}" if @item.updated_by %>.</p>

  <% if @item.page_template && @item.page_template.allow_categories? -%>
  <h2 class="label">Kategori</h2>
  <div id="page_category">
    <div id="category_view">
      <% if @item.category.present? -%>
      <p><%= @item.category.name %></p>
      <% end -%>
      <p><a href="#" class="change"><%= @item.category.present? ? t('.edit_category') : t('.choose_category') %></a></p>
    </div>
    <%= form_for [:admin, @item], :as => :item, :url => admin_item_path(@item), :html => { :id => 'choose_page_category_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.select @item.category_method_name, Page.tags_by_count(:namespace => @item.page_template.handle).collect { |t| [t.name.titlecase, "\"#{t.name}\""] }, :include_blank => 'Ingen kategori' %>
        <a href="#" id="new_category"><%= t('.add_new_category') %></a><br>
        <input type="submit" value="<%= t('choose') %>"> <%= t(:or) %> <a href="#" class="cancel"><%= t(:cancel) %></a>
      </div>
    <% end -%>
    <%= form_for [:admin, @item], :as => :item, :url => admin_item_path(@item), :html => { :id => 'page_categories_form', :style => 'display:none;' } do |f| -%>
      <div>
        <%= f.text_field @item.category_method_name, :value => '' %>
        <input type="submit" value="<%= t(:save) %>"> <%= t(:or) %> <a href="#"><%= t(:cancel) %></a>
      </div>
    <% end -%>
  </div>
  <% end -%>
  <h2 class="label">Nyckelord</h2>
  <div id="page_tags">
    <div id="page_tags_list">
      <p class="tags">
      <%= @item.tags.collect { |tag| link_to(tag.name, admin_items_path(:tags => (params[:tags] || []).dup.push(tag.name)), :class => 'tag') }.join(', ').html_safe -%>
      </p>
    </div>
    <%= form_for [:admin, @item], :as => :item, :url => admin_item_path(@item), :html => { :id => 'page_tags_form' } do |f| -%>
      <div>
        <%= f.text_field :tag_names, :autocomplete => 'off' %>
        <div class="submit">
          <input type="submit" value="<%=t :save %>">
        </div>
      </div>
    <% end -%>
  </div>
</div>