<% @page_title = "Sidor > #{@item.title}" -%>
<% @page_class = "layout3" -%>
<%= render 'details' %>
<div id="workspace">
  <div class="header" id="item_attributes">
    <span class="away">
      <a href="#" class="edit_settings toggler action"><span><%=t 'edit' %></span></a>
      <% if @item.node %>
        <%= link_to t(:move), place_admin_node_path(@item.node), class: "action delete" %>
        <% if @item.node.children? %>
          <%= link_to t(:destroy), confirm_delete_admin_node_path(@item.node), class: "action delete" %>
        <% else %>
          <%= link_to t(:destroy), confirm_delete_admin_node_path(@item.node), class: "action delete" %>
        <% end %>
      <% else %>
        <%= link_to t(:destroy), confirm_delete_admin_item_path(@item.id), class: "action delete" %>
      <% end %>
    </span>
    <div class="page_title">
      <h1><%= @item.title %></h1>
    </div>
    <% if @item.node -%>
    <div class="navigation">
      <span class="key">Namn i navigationen:</span>
      <span class="value"><%= @item.node.name %></span>
    </div>
    <% end %>

    <% if @item.has_url? -%>
    <div class="uri">
      <span class="key">Adress:</span>
      <% page_url(@item).tap do |url| %>
      <span class="value"><%= link_to(url, url) %></span>
      <% end %>
    </div>
    <% end %> </div>
  <div class="header" style="display:none;">
    <%= form_for [:admin, @item], as: :item, url: admin_item_path(@item.id) do |f| %>
      <%= render partial: 'admin/shared/error_messages', locals: { object: @item } %>
      <label for="item_title" class="first_label"><%= Item.human_attribute_name(:title) %></label>
      <div class="fullwidth">
        <%= f.text_field :title, :class => 'title' %>
      </div>
      <label for="item_template_name">
        <%= @item.class.human_attribute_name(:template_name) %>
        <%= f.select :template_name, PageFileTemplate.all.collect { |t| [t.name.titlecase, t.handle] } %>
      </label>

      <% if @item.node.present? %>
        <%= f.fields_for @item.node do |node_fields| %>
          <%= render "node_form", f: node_fields -%>
        <% end %>
      <% end %>

      <div class="restricted_field" style="margin-top: 1em;">
        <label for="item_restricted">
          <%= f.check_box :restricted %>
          Kräv inlogging för att se denna sida
        </label>
      </div>
      <div class="submit">
        <input type="submit" value="<%=t :save %>">
        <%=t :or %>
        <a href="#" class="toggler"><%=t :cancel %></a>
      </div>
    <% end %>
  </div>
  <div class="tools">
    <div class="add">
      <%= link_to t('.edit_data_definitions'), admin_item_data_path(@item) %>
    </div>
  </div>
  <div id="content" class="datums">
  <% @item.data.each_with_index do |datum, index| %>
    <%= render "content", datum: datum, index: index, item: @item %>
  <% end %>
  </div>
</div>
