<% @page_title = "Sidor > #{@item.title}" -%>
<% @page_class = "layout3" -%>
<%= render 'details' %>
<div id="workspace">
  <div class="header" id="item_attributes">
    <span class="away">
      <a href="#" class="edit_settings toggler action"><span><%=t 'edit' %></span></a>
      <% if @item.node %>
        <%= link_to t(:move), place_admin_node_path(@item.node), class: "action delete" %>
        <% if @item.node.children? %>
          <%= link_to t(:destroy), confirm_delete_admin_node_path(@item.node), class: "action delete" %>
        <% else %>
          <%= link_to t(:destroy), confirm_delete_admin_node_path(@item.node), class: "action delete" %>
        <% end %>
      <% else %>
        <%= link_to t(:destroy), confirm_delete_admin_item_path(@item.id), class: "action delete" %>
      <% end %>
    </span>
    <div class="parents"><%= link_to @item.page_template.label, admin_items_path(with_page_template: @item.page_template) %></div>
    <div class="page_title">
      <h1><%= @item.title %></h1>
    </div>
    <% if @item.node -%>
    <div class="navigation">
      <span class="key">Namn i navigationen:</span>
      <span class="value"><%= @item.node.name %></span>
    </div>
    <% end %>
    <% if @item.has_url? -%>
    <div class="uri">
      <span class="key">Adress:</span>
      <% page_url(@item).tap do |url| %>
      <span class="value"><%= link_to(url, url) %></span>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="header" style="display:none;">
    <%= form_for [:admin, @item], as: :item, url: admin_item_path(@item.id) do |f| %>
      <%= render partial: 'admin/shared/error_messages', locals: { object: @item } %>
      <%= render partial: 'admin/shared/error_messages', locals: { object: @item.node } %>
      <label for="item_title" class="first_label"><%= @item.page_template.page_label.present? ? @item.page_template.page_label : "Titel" %></label>
      <div class="fullwidth">
        <%= f.text_field :title, :class => 'title' %>
      </div>
      <% if @item.instruction_body.present? %>
      <p class="instructions"><%= @item.instruction_body %></p>
      <% end %>

      <% if !@item.node %>
        <div class="uri_field">
          <label for="item_uri">Adress:</label>
          <%= page_url_parent(@item) %>
          <%= f.text_field :uri %>
        </div>
      <% end %>

      <div class="restricted_field" style="margin-top: 1em;">
        <label for="item_restricted">
          <%= f.check_box :restricted %>
          Kräv inlogging för att se denna sida
        </label>
      </div>

      <% if @item.node %>
        <%= f.fields_for @item.node do |node_fields| %>
          <%= render "node_form", f: node_fields -%>
        <% end %>
      <% end %>

      <div class="submit">
        <input type="submit" value="<%=t :save %>">
        <%=t :or %>
        <a href="#" class="toggler"><%=t :cancel %></a>
      </div>
    <% end %>
  </div>
  <div id="content" class="datums">
  <% @item.data.sort_by { |d| @item.page_template.datum_templates[d.handle].position }.each_with_index do |datum, index| %>
    <%= render "content", datum: datum, index: index, item: @item %>
  <% end %>
  </div>
</div>
