<% @page_title = "Sidor > #{@item.title}" -%>
<% @page_class = "layout3" -%>
<%= render 'details' %>
<div id="workspace">
  <div class="header" id="item_attributes">
    <span class="away">
      <a href="#" class="edit_settings toggler action"><span><%=t 'edit' %></span></a>
      <% if @item.node %>
        <%= link_to 'Ändra i navigationen', edit_admin_node_path(@item.node, :return_to => request.path), :class => 'edit_settings action' %>
      <% end %>
      <%= link_to t(:destroy), admin_item_path(@item.id), method: :delete, data: { confirm: "Är du säker att du vill ta bort sidan. Det går inte att ångra." }, class: 'action delete' %>
    </span>
    <div class="parents"><%= link_to @item.page_template.label, admin_items_path(with_page_template: @item.page_template) %></div>
    <div class="page_title">
      <h1><%= @item.title %></h1>
    </div>
    <% if @item.node -%>
    <div class="navigation">
      <span class="key">Namn i navigationen:</span>
      <span class="value"><%= @item.node.name %></span>
    </div>
    <% end %>
    <% if @item.has_url? -%>
    <div class="uri">
      <span class="key">Adress:</span>
      <% page_url(@item).tap do |url| %>
      <span class="value"><%= link_to(url, url) %></span>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="header" style="display:none;">
    <%= form_for [:admin, @item], as: :item, url: admin_item_path(@item.id) do |f| %>
      <%= render partial: 'admin/shared/error_messages', locals: { object: @item } %>
      <label for="item_title" class="first_label"><%= @item.page_template.page_label.present? ? @item.page_template.page_label : "Titel" %></label>
      <div class="fullwidth">
        <%= f.text_field :title, :class => 'title' %>
      </div>
      <% if @item.instruction_body.present? %>
      <p class="instructions"><%= @item.instruction_body %></p>
      <% end %>

      <% if @item.index_node.present? %>
        <div class="uri_field">
          <label for="item_uri">Adress:</label>
          <%= page_url_parent(@item) %>
          <%= f.text_field :uri %>
        </div>
      <% end %>

      <div class="restricted_field" style="margin-top: 1em;">
        <label for="item_restricted">
          <%= f.check_box :restricted %>
          Kräv inlogging för att se denna sida
        </label>
      </div>
      <div class="submit">
        <input type="submit" value="<%=t :save %>">
        <%=t :or %>
        <a href="#" class="toggler"><%=t :cancel %></a>
      </div>
    <% end %>
  </div>
  <div id="content" class="datums">
  <% @item.data.sort_by { |d| @item.page_template.datum_templates[d.handle].position }.each_with_index do |datum, index| %>
    <div id="datum_<%= datum.id %>" class="<%= "datum " unless datum.is_a?(DatumCollection) %><%= datum.class.to_s.underscore %><%= " #{datum.input_type}" if datum.respond_to?(:input_type) %>">
    <% unless datum.is_a?(DatumCollection) %>
      <div class="controls">
        <div class="label"><%= datum.label %></div>
      </div>
      <div class="content">
        <div class="viewable">
          <%= render partial: "admin/data/#{(datum.is_a?(StringField) ? 'field' : datum.class.to_s.underscore)}", locals: { datum: datum } %>
        </div>
        <div class="editable">
          <%= form_for [:admin, @item, datum], :as => :datum, :url => admin_item_datum_path(@item, datum), :html => { :id => "datum_#{datum.id}_edit" } do |f| %>
            <%= render partial: "admin/data/#{(datum.is_a?(StringField) ? 'field' : datum.class.to_s.underscore)}_form", locals: { datum: datum, f: f }%>
            <div class="submit">
              <%= f.submit t(:save) %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="datums_header"><%= datum.label %></div>
      <div class="add controls">
        <h3 class="new"><%= t('.add_content') %></h3>
        <ul>
          <% if datum.allow_texts? %>
          <li>
            <%= form_for [:admin, @item, StringField.new(input_type: 'string', multiline: true, allow_rich_text: true)], :as => :datum,  :url => admin_item_data_path(@item, parent_id: datum, type: 'StringField') do |f| %>
              <%= f.hidden_field :input_type %>
              <%= f.hidden_field :multiline %>
              <%= f.hidden_field :allow_rich_text %>
              <button type="submit"><%= StringField.model_name.human %></button>
            <% end %>
          </li>
          <% end %>
          <% if datum.allow_links? %>
          <li>
            <%= form_for [:admin, @item, LinkField.new], :as => :datum,  :url => admin_item_data_path(@item, parent_id: datum, type: 'LinkField') do |f| %>
              <button type="submit"><%= LinkField.model_name.human %></button>
            <% end %>
          </li>
          <% end %>
          <% if datum.allowed_page_template_ids? %>
            <% datum.allowed_page_templates.each do |page_template| %>
              <li>
              <%= form_for [:admin, @item, PageAssociation.new(page_template_id: page_template.id)], :as => :datum,  :url => admin_item_data_path(@item, parent_id: datum, type: 'PageAssociation') do |f| %>
                <%= f.hidden_field :page_template_id %>
                <button type="submit"><%= t('.add_datum', :label => page_template.label) %></button>
              <% end %>
              </li>
            <% end %>
          <% end %>
          <% if datum.allowed_asset_filetypes.any? %>
            <% datum.allowed_asset_filetypes.each do |filetype| %>
              <li>
              <%= link_to t('.add_datum', label: t(:"mongo_mapper.attributes.asset.filetypes.#{filetype}")), admin_assets_path(by_filetype: [filetype], create_callback: { path: admin_item_data_path(@item, parent_id: datum, type: 'AssetAssociation'), method: 'post', asset_field_name: 'datum[asset_id]' }) %>
              </li>
            <% end %>
          <% end %>
        <% datum.content_templates.each do |content_template| %>
          <li>
            <%= button_to content_template.label, admin_item_data_path(@item, :parent_id => datum, :type => 'FieldSet', :template_id => content_template) %>
          </li>
        <% end %>
        </ul>
      </div>
      <ul class="sortable" data-sort-uri="<%= sort_admin_item_data_path(@item, :parent_id => datum) %>">
        <% datum.data.each do |d, i| %>
        <li id="datum_<%= d.id %>" class="datum <%= d.class.to_s.underscore %><%= ' inactive' unless d.active? %>">
          <div class="controls">
            <%= link_to t(:destroy), admin_item_datum_path(@item, d, parent_id: datum), method: :delete, data: { confirm: "Är du säker? Detta går inte att ångra." }, class: 'delete' %>
          </div>
          <div class="content">
            <div class="viewable">
              <%= render :partial => "admin/data/#{(d.is_a?(StringField) ? 'field' : d.class.to_s.underscore)}", :locals => { :datum => d }%>
            </div>
            <div class="editable">
              <%= form_for [:admin, @item, d], :as => :datum, :url => admin_item_datum_path(@item, d, :parent_id => datum), :html => { :id => "datum_#{d.id}_edit" } do |f| %>
                <%= render :partial => "admin/data/#{(d.is_a?(StringField) ? 'field' : d.class.to_s.underscore)}_form", :locals => { :datum => d, :f => f }%>
                <div class="submit">
                  <%= f.submit t(:save) %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
