<% @page_title = t('.title', :query => @query) -%>
<% @page_class = 'layout3' -%>
<%= render :partial => 'admin/items/sub_nav' %>
<div id="workspace">
  <div class="header">
    <h1><%= t('.title', :query => @query) %></h1>
  </div>
  <div class="tools">
    <div class="add">
      Lägg till:
      <% @page_templates.each do |page_template| -%>
        <%= link_to page_template.label, (!current_scopes[:with_parent] ? new_admin_item_path(:page => { :page_template_id => page_template.id }) : new_admin_item_path(:page => { :page_template_id => page_template, :parent_id => current_scopes[:with_parent].split(',')[0], :parent_type => current_scopes[:with_parent].split(',')[1] })), :class => 'new' %>
      <% end if @page_templates.any? %>
    </div>
  </div>
  <div id="content">
    <table class="pages">
      <thead>
        <tr>
          <th><%= Page.human_attribute_name(:title) %></th>
          <th><%= Page.human_attribute_name(:page_template) %></th>
          <th><%= Page.human_attribute_name(:updated_at) %></th>
          <th><%= Page.human_attribute_name(:published_on) %></th>
          <th><%= t(:status) %></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <%= render partial: 'row', locals: { item: page, display_page_type: true } %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @pages if @pages.any? %>
  </div>
</div>
