<article class="hentry">
  <% if !page.category.present? -%>
  <a href="/<%= page.index_node.slug %>" class="category"><%= page.index_node.name %></a>
  <% else -%>
  <a href="/<%= field_set_category_path(page.field_set, category) %>" class="category"><%= page.category.name %></a>
  <% end -%>
  <time datetime="<%= l page.published_on, :format => "%Y-%m-%d" %>" pubdate><%= l page.published_on, :format => "%A %e %b %Y" %></time>
  <h1><a href="<%= permalink_page_path(page) %>"><%= page.title %></a></h1>
  <% if page.respond_to?(:preamble) -%>
  <%= textilize page.preamble %>
  <% end -%>
</article>
