<div class="container">
  <h2 class="field_label"><%= field.label %></h2>
  <% if custom_associations.any? -%>
    <% custom_associations.each do |custom_association| -%>
      <% custom_association.target.tap do |asset| -%>
        <div class="content">
          <% if asset.is_a?(ImageAsset) %>
            <%= image_tag asset.version_url(:size => 'c100x100'), :id => "asset_#{asset.id}", :width => 100, :height => 100 %>
          <% elsif asset.respond_to?(:thumbnail) and not asset.thumbnail.blank? %>
            <%= image_tag display_image_path(:size => 'c100x100', :id => asset.thumbnail, :format => asset.thumbnail.extname), :id => "asset_#{asset.id}", :width => 100, :height => 100 %>
          <% else %>
            <img src="/assets/icons/filetypes/<%= asset.extname %>.png" alt="" width="100" height="100">
          <% end %>
          <div class="title"><%= asset.title %></div>
          <div class="caption"><%= asset.description %></div>
          <span class="edit"><%= link_to "Ändra", edit_admin_asset_path(asset.id, :return_to => request.path) %></span>
          <span class="delete"><%= link_to "Ta bort", admin_page_custom_association_path(@page.id, custom_association), :method => :delete %></span>
        </div>
      <% end -%>
    <% end -%>
  <% end -%>
  <div class="edit">
  <% if !(field.relationship == 'one_to_one' && custom_associations.any?)-%>
    <%= link_to "Lägg till fil", admin_assets_path(:create_callback => {:controller => 'admin/custom_associations', :action => 'create', :method => 'post', :asset_field_name => 'custom_association[target_id]', :params => { :page_id => @page, 'custom_association[target_type]' => field.target_class.to_s, 'custom_association[context_id]' => @page.id, 'custom_association[context_type]' => 'Page', 'custom_association[handle]' => field.handle, 'custom_association[field_id]' => field.id, 'custom_association[relationship]' => field.relationship }}) %>
  <% end %>
  </div>
</div>
