<label for="datum_template_allow_texts">
  <%= f.check_box :allow_texts, id: 'datum_template_allow_texts' %>
  <%= DatumCollection.human_attribute_name(:allow_texts) %>
</label>

<label for="datum_template_allow_links">
  <%= f.check_box :allow_links, id: 'datum_template_allow_links' %>
  <%= DatumCollection.human_attribute_name(:allow_links) %>
</label>

<%= f.label :allowed_asset_filetypes %>
<%= hidden_field_tag 'datum_template[allowed_asset_filetypes][]', '' %>
<%= f.select :allowed_asset_filetypes, Asset.filetypes.keys.collect { |filetype| [t(:"mongo_mapper.attributes.asset.filetypes.#{filetype}"), filetype] }, {}, :multiple => true, :class => 'choose_me', 'data-placeholder' => DatumCollection.human_attribute_name(:allowed_asset_filetypes) %>

<%= f.label :allowed_page_template_ids %>
<%= hidden_field_tag 'datum_template[allowed_page_template_ids][]', '' %>
<%= f.select :allowed_page_template_ids, PageTemplate.all.collect { |ct| [ct.label, ct.id] }, {}, :multiple => true, :class => 'choose_me', 'data-placeholder' => DatumCollection.human_attribute_name(:allowed_page_template_ids) %>

<%= f.label :content_templates_ids %>
<%= hidden_field_tag 'datum_template[content_templates_ids][]', '' %>
<%= f.select :content_templates_ids, ContentTemplate.all.collect { |ct| [ct.label, ct.id] }, {}, :multiple => true, :class => 'choose_me', 'data-placeholder' => DatumCollection.human_attribute_name(:content_templates_ids) %>