<%= hidden_field_tag(:template_id, @template.id) if @template %>
<p>
  <strong><%= f.object.class.human_attribute_name(:template_name) %>:</strong>
  <%= f.object.template_name %>
</p>
<%= f.label :content_template %>
<%= f.select :content_template_id, ContentTemplate.all.collect { |c| [c.label, c.id.to_s ]}, :selected => f.object.content_template_id.to_s %>