<%= hidden_field_tag :content_block, @content_block.handle %>
<%= hidden_field_tag :type, @content.class.to_s %>
<%= f.text_area :body, :class => @content.filter, :class => '', :cols => 90, :rows => 40 %>

<div class="submit">
  <%= submit_tag 'Spara', :class => 'commit button' %> eller
  <%= link_to "Avbryt", previous_view_path, :class => 'cancel' %>
</div>