<%= form_for [:admin, @link_list] do |f| %>
  <%= render 'admin/shared/error_messages', :object => f.object %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <div class="submit">
    <%= f.submit t(:save) %>
  </div>
<% end %>