<div id="comments">
  <h3>Kommentarer</h3>
<% if @page.comments.any? %>
  <ol class="comments">
    <% @page.comments.find_all_by_spam(false).each do |comment| -%>
    <li id="comment_<%= comment.id %>">
      <p><%= simple_format(html_escape(comment.body)) %></p>
      <span class="meta">Skrivet av <%= comment.name %> <%= comment.created_at.strftime("%d %B %Y") %></span>
    </li>
    <% end -%>
  </ol>
<% end -%>
<% form_for :comment, :url => comment_page_path(:id => @page.id, :slug => @node.url), :html => { :method => :post } do |f| %>
  <fieldset>
    <%= hidden_field_tag 'return_to', request.request_uri %>
    <legend>Har du något att säga?</legend>
    <label for="comment_body">Din kommentar</label>
    <%= f.text_area :body, :rows => 10 %>
    <label for="comment_name">Ditt namn</label>
    <%= f.text_field :name, :size => 40 %>
    <label for="comment_email">E-mail</label>
    <%= f.text_field :email, :size => 40 %>
  </fieldset>
  <div class="submit">
    <input type="submit" value="Skicka kommentar">
  </div>
<% end %>
</div>
