<% @page_title = "Redigera text" %>
<div id="workspace">
  <div class="header">
    <h1>Redigera text</h1>
  </div>
  <div id="content">
    <%= form_for @content, :url => admin_content_path(@content) do |f| %>
      <%= render :partial => '/admin/contents/content_textfields/form', :locals => { :f => f } %>
      <div class="submit">
        <%= submit_tag 'Spara', :class => 'commit button' %> eller
        <%= link_to "Avbryt", previous_view_path, :class => 'cancel' %>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'admin/ckeditor/ckeditor', 'admin/ckeditor/adapters/jquery' %>
  <%= javascript_include_tag 'admin/application' %>
<% end %>