<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="<%= request_forgery_protection_token %>" id="authenticity-token" content="<%= form_authenticity_token %>">
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  <title><%= @page_title if @page_title %></title>
  <%= stylesheet_link_tag 'porthos/elements', 'porthos/layout', 'porthos/wymeditor', 'application' %>
  <%= installation_specific_stylesheet_link_tag %>
</head>
<body<%= body_attributes.html_safe %>>
<%= flash_messages %>
<div id="nav">
  <%= render :partial => 'layouts/admin/account_nav' %>
  <%= render :partial => 'layouts/admin/main_nav' %>
</div>
<div id="wrap">
<%= yield %>
</div>
<%= javascript_fallback "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", "/javascripts/jquery-1.5.1.min.js", "typeof jQuery == 'undefined'" %>
<%= javascript_include_tag 'underscore.min.js', 'underscore.string.min.js' %>
<%= javascript_include_tag 'rails'  %>
<%= yield :javascripts %>
</body>
</html>
