<label for="node_name">Namn i navigationen</label>
<%= f.text_field :name %>
<ul class="multiple_choice">
  <li>
    <label for="shown_in_nav">
      <%= f.radio_button :status, 1, :id => 'shown_in_nav' %>
      Syns i navigationen <span class="form_help">Och är tillgänglig på internet.</span>
    </label>
  </li>
  <li>
    <label for="not_shown_in_nav">
      <%= f.radio_button :status, 0, :id => 'not_shown_in_nav' %>
      Syns inte i navigationen. <span class="form_help">Men är tillgänglig på internet.</span>
    </label>
  </li>
  <li>
    <label for="restricted">
      <%= f.radio_button :status, -1, :id => 'restricted' %>
      Avstängd <span class="form_help">Är ej tillgänglig på internet.</span>
    </label>
  </li>
  <li>
    <label class="restricted_field" for="node_restricted">
      <%= f.check_box :restricted %>
      Kräv inlogging <span class="form_help">Gäller även allt som är placerat under denna.</span>
    </label>
  </li>
</ul>