<%= form_for [:admin, @node] do |f| %>
  <%= render 'admin/shared/error_messages', :object => f.object %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :slug %>
    <%= f.text_field :slug %>

    <% if @resource %>
      <%= f.hidden_field :resource_type %>
      <%= f.hidden_field :resource_id %>
      <%= f.hidden_field :controller %>
      <%= f.hidden_field :action %>
      <%= f.hidden_field :handle %>
    <% else %>
      <%= f.label :controller %>
      <%= f.text_field :controller %>

      <%= f.label :action %>
      <%= f.text_field :action %>

      <%= f.label :handle %>
      <%= f.select :handle,
        PageTemplate.all.collect { |t| [t.label, t.handle] },
        :include_blank => 'Välj en sidtyp' %>
    <% end %>

    <ul class="multiple_choice">
      <li>
        <label for="shown_in_nav">
          <%= f.radio_button :status, 1, :id => 'shown_in_nav' %>
          <%= t(:show_in_nav, :scope => [:app, :views, :admin, :nodes, :shared])  %>
        </label>
      </li>
      <li>
        <label for="not_shown_in_nav">
          <%= f.radio_button :status, 0, :id => 'not_shown_in_nav' %>
          <%= t(:not_shown_in_nav, :scope => [:app, :views, :admin, :nodes, :shared])  %>
        </label>
      </li>
      <li>
        <label for="restricted">
          <%= f.radio_button :status, -1, :id => 'restricted' %>
          <%= t(:restricted, :scope => [:app, :views, :admin, :nodes, :shared])  %>
        </label>
      </li>
      <li>
        <label class="restricted_field" for="node_restricted">
          <%= f.check_box :restricted %>
          <%= t(:restricted, :scope => [:activerecord, :attributes, :node])  %>
        </label>
      </li>
    </ul>

    <% if @nodes && @nodes.any? %>
    <div id="navigation">
      <%= nested_list_of(@nodes, {
          :end_points => @nodes,
          :allow_inactive => true,
          :except => @node
        }, {
          :id => 'nodes'
      }) do |node| %>
        <div>
          <% if node != @nodes.first && node.children.any? -%>
            <%= link_to "+", admin_nodes_path(:nodes => [node.id], :place => true), :class => 'toggle_handle' %>
          <% end -%>
          <% unless node == @node %>
            <%= radio_button_tag('node[parent_id]', node.id, (node.id == @node.parent_id), :id => "node_parent_id_#{node.id}") %>
          <% end %>
          <span class="name"><%= node.name %></span>
        </div>
      <% end %>
    </div>
    <% end %>

  </fieldset>
  <div class="submit">
    <%= submit_tag t(:save) %> <%= t(:or) %> <%= link_to t(:cancel), previous_view_path(admin_nodes_path(:nodes => @node)) %>
  </div>
<% end %>
