<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :url %>
<%= f.text_field :url %>

<% if @resource %>
  <%= f.hidden_field :resource_type %>
  <%= f.hidden_field :resource_id %>
  <%= f.hidden_field :controller %>
  <%= f.hidden_field :action %>
<% else %>
  <%= f.label :controller %>
  <%= f.text_field :controller %>

  <%= f.label :action %>
  <%= f.text_field :action %>
  <%= f.label :field_set_id %>
  <%= f.select :field_set_id, FieldSet.all.collect { |f| [f.title, f.id] }, :include_blank => 'Välj en sidtyp' %>
<% end %>

<ul class="multiple_choice">
  <li>
    <label for="shown_in_nav">
      <%= f.radio_button :status, 1, :id => 'shown_in_nav' %>
      <%= t(:show_in_nav, :scope => [:app, :views, :admin, :nodes, :shared])  %>
    </label>
  </li>
  <li>
    <label for="not_shown_in_nav">
      <%= f.radio_button :status, 0, :id => 'not_shown_in_nav' %>
      <%= t(:not_shown_in_nav, :scope => [:app, :views, :admin, :nodes, :shared])  %>
    </label>
  </li>
  <li>
    <label for="restricted">
      <%= f.radio_button :status, -1, :id => 'restricted' %>
      <%= t(:restricted, :scope => [:app, :views, :admin, :nodes, :shared])  %>
    </label>
  </li>
  <li>
    <label class="restricted_field" for="node_restricted">
      <%= f.check_box :restricted %>
      <%= t(:restricted, :scope => [:activerecord, :attributes, :node])  %>
    </label>
  </li>
</ul>
