<div class="<%= node.access_status %>">
  <% if node.children.count != 0 %>
    <% if trail.include?(node) -%>
      <%= link_to "-", admin_nodes_path(:nodes => [node.parent_id]), :class => 'jax toggle_handle active' %>
    <% else -%>
      <%= link_to "+", admin_nodes_path(:nodes => [node.id]), :class => 'jax toggle_handle' %>
    <% end -%>
  <% end %>

  <% cache ['v1', node, 'admin-list'] do %>
    <span class="name"><%= node.name %></span>

    <% if node.restricted? -%>
      <span class="info restricted"><%= Node.human_attribute_name(:restricted) %></span>
    <% end -%>

    <span class="edit">

      <% if node.controller == 'pages' && node.action == 'index' -%>
        <%= link_to "#{t(:show_all)}", admin_items_path(:with_page_template => PageTemplate.where(handle: node.handle).first), :class => 'edit' %>
        <% if node.page_template && node.page_template_section %>
          <%= link_to t(:edit), admin_item_path(node.page_template_section), :class => 'edit' %>
        <% end %>
      <% elsif node.controller == 'pages' and node.action == 'show' and node.resource.present? -%>
        <%= link_to t(:edit), admin_item_path(node.resource), :class => 'edit' %>
      <% else %>
        <%= link_to t(:edit), edit_admin_node_path(node), :class => 'settings' %>
        <%= link_to t(:destroy), admin_node_path(node), method: :delete, class: "delete", data: { confirm: t(:'app.general.destroy_confirmation', target_name: node.name) } %>
      <% end -%>

    </span>
  <% end %>
</div>
