<div class="<%= node.access_status %>">
  <% if node.children.any? %>
    <% if trail.include?(node) -%>
      <%= link_to "-", admin_nodes_path(:nodes => [node.parent_id]), :class => 'jax toggle_handle active' %>
    <% else -%>
      <%= link_to "+", admin_nodes_path(:nodes => [node.id]), :class => 'jax toggle_handle' %>
    <% end -%>
  <% end %>
  <span class="name"><%= node.name %></span>
  <% if node.restricted? -%>
  <span class="info restricted"><%= t(:restricted, :scope => [:activerecord, :attributes, :node])  %></span>
  <% end -%>
  <span class="edit">
    <% if node.controller == 'pages' && node.action == 'index' -%>
      <%= link_to "#{t(:show_all)}", admin_pages_path(:with_field_set => node.field_set_id), :class => 'edit' %>
      <%= link_to t(:edit), edit_admin_node_path(node), :class => 'settings' %>
    <% elsif node.controller == 'pages' && node.action == 'show' -%>
      <%= link_to t(:edit), edit_admin_node_path(node), :class => 'edit' %>
    <% else -%>
      <%= link_to t(:edit), edit_admin_node_path(node), :class => 'settings' %>
    <% end -%>
    <%= link_to t(:move, :scope => [:app, :views, :admin, :nodes, :shared]), place_admin_node_path(node) %>
    <%= link_to t(:destroy), admin_node_path(node), :method => :delete, :class => "delete", :confirm => t(:'app.general.destroy_confirmation'), :target_name => node.name %>
  </span>
</div>
