<% if datum.asset %>
<div class="asset <%= datum.asset.filetype %>">
  <% if datum.asset.is_a?(ImageAsset) %>
  <%= image_tag datum.asset.version_url(:size => '80') %>
  <% end %>
  <div class="title"><%= datum.title %></div>
  <div class="caption"><%= datum.description %></div>
  <div class="add">
  <% unless datum._parent_document.is_a?(FieldSet) %>
    <%= link_to t('.choose_asset'), admin_assets_path(
      :by_filetype => datum.allowed_asset_filetypes,
      :create_callback => {
      :path => admin_item_datum_path(@item, datum, :parent_id => (datum.root_embedded_document unless datum.is_root?)),
      :method => 'put',
      :asset_field_name => 'datum[asset_id]' }
    ), :class => 'new' %>
  <% else %>
    <%= link_to t('.change_asset'), admin_assets_path({
      :by_filetype => datum.allowed_asset_filetypes,
      :create_callback => {
        :path => admin_item_datum_path(@item, datum._parent_document, :parent_id => (datum.root_embedded_document unless datum._parent_document.is_root?)),
        :method => 'put',
        :asset_field_name => CGI::escape('datum[data_attributes][0][asset_id]'),
        :params => { CGI::escape('datum[data_attributes][0][id]') => datum.id }
      }}), :class => 'new' %>
  <% end %>
  <%= link_to t('.edit_asset'), edit_admin_asset_path(datum.asset, :return_to => admin_item_path(@item, :anchor => "datum_#{datum.id}")), :class => 'new' %>
  <% unless datum._parent_document.is_a?(DatumCollection) %>
    <% unless datum._parent_document.is_a?(FieldSet) %>
      <%= button_to t('.remove'), admin_item_datum_path(@item, datum, datum: { should_clear_association: true }), method: 'put', confirm: 'Ta bort associationen till den här filen?' %>
    <% else %>
      <%= button_to t('.remove'), admin_item_datum_path(@item, datum._parent_document, {
        parent_id: (datum.root_embedded_document unless datum._parent_document.is_root?),
        datum: {
          data_attributes: [{
            id: datum.id,
            should_clear_association: true
          }]
        }
      }), method: 'put', data: { confirm: 'Ta bort associationen till den här filen?' } %>
    <% end %>
  <% end %>
  </div>
</div>
<% else %>
  <% if datum.instruction_body %>
    <p class="instructions"><%= datum.instruction_body %></span>
  <% end %>
  <% unless datum._parent_document.is_a?(FieldSet) %>
    <div class="add">
      <%= link_to t('.choose_asset'), admin_assets_path(
        :by_filetype => datum.allowed_asset_filetypes,
        :create_callback => {
        :path => admin_item_datum_path(@item, datum, :parent_id => (datum.root_embedded_document unless datum.is_root?)),
        :method => 'put',
        :asset_field_name => 'datum[asset_id]' }
      ), :class => 'new' %>
    </div>
  <% else %>
    <div class="add">
    <%= link_to t('.choose_asset'), admin_assets_path({
      :by_filetype => datum.allowed_asset_filetypes,
      :create_callback => {
        :path => admin_item_datum_path(@item, datum._parent_document, :parent_id => (datum.root_embedded_document unless datum._parent_document.is_root?)),
        :method => 'put',
        :asset_field_name => CGI::escape('datum[data_attributes][0][asset_id]'),
        :params => { CGI::escape('datum[data_attributes][0][id]') => datum.id }
      }}), :class => 'new' %>
    </div>
  <% end %>
<% end %>
