<div class="viewable">
  <h2 class="<%= datum.value? ? 'checked' : 'unchecked' %>"><%= datum.label %></h2>
  <div class="content"><%= datum.value? ? 'Ja' : 'Nej' %></div>
</div>
<div class="editable">
  <label for="<%= "datum_#{datum.id}_value" %>" class="contains-input">
    <%= f.check_box :value, :id => "datum_#{datum.id}_value" %>
    <%= datum.label %>
  </label>
  <div class="submit">
    <%= f.submit t(:save) %>
  </div>
</div>