<% if datum._parent_document.is_a?(ContentBlock) %>
<%= hidden_field_tag 'parent_id', datum._parent_document.id %>
<% end %>
<% if datum.instruction_body %>
<p class="instructions"><%= datum.instruction_body %></p>
<% end %>
<% datum.data.each_with_index do |d, i| %>
  <%= fields_for 'datum[data_attributes][]', d, :index => i do |datum_fields| %>
    <%= datum_fields.hidden_field :id %>
    <% unless d.is_a?(Image) %>
    <%= render :partial => "admin/data/#{(d.is_a?(StringField) ? 'field' : d.class.to_s.underscore)}_form", :locals => { :datum => d, :f => datum_fields } %>
    <% end %>
  <% end %>
<% end %>
