<div class="viewable">
  <h2 class="label"><%= datum.label %></h2>
  <div class="content">
  <% if datum.asset %>
    <%= image_tag datum.asset.version_url(:size => 'c80x80') %>
  <% end %>
  <% if datum.title.present? %>
    <div class="title"><%= datum.title %></div>
  <% end %>
  <% if datum.description.present? %>
    <div class="caption"><%= datum.description %></div>
  <% end %>

    <p>
    <% if datum.asset %>
      <%= link_to t('.edit_asset'), edit_admin_asset_path(datum.asset, :return_to => admin_page_path(@page, :anchor => "datum_#{datum.id}")) %>
    <% end %>
    <% unless datum._parent_document.is_a?(FieldSet) %>
    <%= link_to t('.choose_image'), admin_assets_path(:by_type => 'ImageAsset', :create_callback => { :path => admin_page_datum_path(@page, datum, :parent_id => (datum._parent_document unless datum._parent_document.is_a?(Page))), :method => 'put', :asset_field_name => 'datum[asset_id]' }) %>
    <% else %>
    <%= link_to t('.choose_image'), admin_assets_path({
      :by_type => 'ImageAsset',
      :create_callback => {
        :path => admin_page_datum_path(@page, datum._parent_document, :parent_id => (datum._parent_document._parent_document unless datum._parent_document._parent_document == datum._root_document)),
        :method => 'put',
        :asset_field_name => CGI::escape('datum[data_attributes][0][asset_id]'),
        :params => { CGI::escape('datum[data_attributes][0][id]') => datum.id }
      }}) %>
    <% end %>
    </p>
  </div>
</div>
<div class="editable">
  <h2 class="label"><%= datum.label %></h2>
  <% if datum.asset %>
    <%= image_tag datum.asset.version_url(:size => 'c80x80') %>
  <% end %>
  <%= f.label :title %>
  <div class="fullwidth">
    <%= f.text_field :title, :disabled => true %>
  </div>

  <%= f.label :description %>
  <div class="fullwidth">
    <%= f.text_area :description, :disabled => true %>
  </div>

  <% if datum._parent_document.is_a?(Page) %>
  <div class="submit">
    <%= f.submit t(:save) %>
  </div>
  <% end %>
</div>