<% @page_title = "Sidtyper > #{@item.title} > Ändra fält" %>
<% @page_class = 'layout1' -%>
<div id="workspace">
  <div class="header">
    <h1>Ändra <%= @datum.class.model_name.human %> i <%= @item.title %></h1>
  </div>
  <div id="content">
    <%= form_for [:admin, @item, @datum], as: :datum, url: admin_item_datum_path(@datum, item_id: @item) do |f| %>
      <%= render 'admin/shared/error_messages', :object => f.object %>
      <%= render 'form', :f => f %>
      <% begin %>
      <%= render :partial => "admin/datum_templates/#{@datum.class.to_s.underscore}_template_form", :locals => { :f => f } %>
      <% rescue ActionView::MissingTemplate %>
      <% end %>
      <div class="submit">
        <%= f.submit t(:save) %> <%= t(:or) %> <%= link_to t(:cancel), admin_item_path(@item) %>
      </div>
    <% end %>
  </div>
</div>
