<% @page_title = t('.title', :title => @page_template.label) %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1><%= @page_template.label %></h1>
    <span class="away">
      <%= link_to t('.edit'), edit_admin_page_template_path(@page_template), :class => 'edit_settings action' %>
      <%= link_to t('.destroy'), admin_page_template_path(@page_template), :method => 'delete', :confirm => t(:destroy_confirmation, :scope => [:app, :general], :target_name => @page_template.label), :class => 'destroy action' %>
      <%= link_to t('.all_page_templates'), admin_page_templates_path, :class => 'action' %>
      <% if @page_template.pages_sortable? %>
      <%= link_to t('.sort'), pages_admin_page_template_path(@page_template), :class => 'action' %>
      <% end %>
    </span>
  </div>
  <div class="tools">
    <div class="add">
      <form action="<%= new_admin_template_datum_template_path(@page_template) %>">
        <input type="hidden" name="template_type" value="FieldTemplate" />
        <%= select_tag 'datum_template[input_type]', options_for_select(%w(string boolean date).collect { |type| [t(".#{type}"), type] }) %>
        <button type="submit" class="new"><%=t '.add' %></button>
      </form>
    </div>
    <div class="add">
      <form action="<%= new_admin_template_datum_template_path(@page_template) %>">
        <%= select_tag 'template_type', options_for_select(%w(ImageTemplate PageAssociationTemplate FieldSetTemplate ContentBlockTemplate).collect { |type| [t(".#{type}"), type] }) %>
        <button type="submit" class="new"><%=t '.add' %></button>
      </form>
    </div>
    <% unless @page_template.section %>
    <div class="add">
      <%= link_to t('.add_section'), new_admin_page_path(:type => 'Section', :page_template_id => @page_template) %>
    </div>
    <% end %>
  </div>
  <div id="content">
    <% if @page_template.datum_templates.any? -%>
    <table id="fields_for_page_template_<%= @page_template.id %>" class="sortable">
      <thead>
        <tr>
          <th class="placeholder"></th>
          <th><%= DatumTemplate.human_attribute_name(:label) %></th>
          <th><%= DatumTemplate.human_attribute_name(:handle) %></th>
          <th><%= DatumTemplate.human_attribute_name(:_type) %></th>
          <th><%= DatumTemplate.human_attribute_name(:required) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="datum_templates" data-sort-uri="<%= sort_admin_template_datum_templates_path(@page_template) %>">
        <% @page_template.datum_templates.each do |datum_template| -%>
        <tr class="datum_template" id="datum_template_<%= datum_template.id %>">
          <td class="handle"><span class="drag_handle"></span></td>
          <td class="label"><%= datum_template.label %></td>
          <td><%= datum_template.handle %></td>
          <td><%= datum_template.class.model_name.human %></td>
          <td><%= t(datum_template.required? ? :yes : :no) %></td>
          <td><%= link_to t(:edit), edit_admin_template_datum_template_path(@page_template, datum_template) %></td>
          <td><%= link_to t(:destroy), admin_template_datum_template_path(@page_template, datum_template), :method => :delete, :confirm => "Vill du verkligen ta bort #{datum_template.label}? Fältet och dess infomation kommer tas bort från alla #{@page_template.label} sidor." %>
        </tr>
        <% end -%>
      </tbody>
    </table>
    <% else -%>
    <p class="notice"><%= t('.blank_slate') %></p>
    <% end -%>
  </div>
</div>