<% @page_class = @page_renderer.layout_class -%>
<% @page_title = @page_renderer.title -%>
<% @page_id = 'pages-show' -%>
<div id="content">
  <h1><%= @page_renderer.page.title %></h1>
  <p class="date"><%= l @page_renderer.page.published_on, :format => :long %></p>
  <%= @page_renderer.page.body %>
<% (1..@page_renderer.page.column_count).each do |column| %>
  <div id="c_<%= column %>" class="column">
  <% @page_renderer.page.contents.active.find_all { |content| content.column_position == column }.each do |content| -%>
    <%= render_page_content(@page_renderer.page, content) %>
  <% end -%>
  </div>
<% end %>
  <%= render :partial => 'pages/templates/blog/archive', :locals => { :renderer => @page_renderer } %>
</div>
