<%= form_for @field_set_template do |f| %>
  <%= render 'admin/shared/error_messages', :object => f.object %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :handle %>
  <%= f.text_field :handle %>
  <div class="submit">
    <%= submit_tag t(:save) %> eller <%= link_to t(:cancel), previous_view_path(admin_field_set_templates_path) %>
  </div>
<% end %>