<% @page_title = t('.title', :title => @field_set_template.title) %>
<% @page_class = 'layout2' -%>
<% @page_id = 'site-settings' -%>
<div id="sub_nav">
  <%= render 'admin/shared/settings_sub_nav' %>
</div>
<div id="workspace">
  <div class="header">
    <h1><%= @field_set_template.title %></h1>
    <span class="away">
      <%= link_to t('.edit'), edit_admin_field_set_template_path(@field_set_template), :class => 'edit_settings action' %>
      <%= link_to t('.destroy'), admin_field_set_template_path(@field_set_template), :method => 'delete', :confirm => t(:destroy_confirmation, :scope => [:app, :general], :target_name => @field_set_template.title), :class => 'destroy action' %>
      <%= link_to t('.all_field_set_templates'), admin_field_set_templates_path, :class => 'action' %>
      <% if @field_set_template.pages_sortable? %>
      <%= link_to t('.sort'), pages_admin_field_set_template_path(@field_set_template), :class => 'action' %>
      <% end %>
    </span>
  </div>
  <div class="tools">
    <div class="add">
      <form action="<%= new_admin_field_set_template_field_path(@field_set_template) %>">
        <%= select_tag 'field_type', options_for_select(Field.types.collect { |type| [type.model_name.human, type.to_s] }, :selected => @field.class.to_s) %>
        <input type="submit" value="<%=t '.add_field' %>" />
      </form>
    </div>
  </div>
  <div id="content">
    <% if @field_set_template.fields.any? -%>
    <table id="fields_for_field_set_template_<%= @field_set_template.id %>" class="sortable">
      <thead>
        <tr>
          <th class="placeholder"></th>
          <th><%= Field.human_attribute_name(:label) %></th>
          <th><%= Field.human_attribute_name(:handle) %></th>
          <th><%= Field.human_attribute_name(:_type) %></th>
          <th><%= Field.human_attribute_name(:required) %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="fields">
        <% @field_set_template.field_templates.each do |field_template| -%>
        <tr class="field_template" id="field_template_<%= field_template.id %>">
          <td class="handle"><span class="drag_handle"></span></td>
          <td class="label"><%= field_template.label %></td>
          <td><%= field_template.handle %></td>
          <td><%= field_template.class.model_name.human %></td>
          <td><%= t(field_template.required? ? :yes : :no) %></td>
          <td><%= link_to t(:edit), edit_admin_field_set_template_field_template_path(@field_set_template, field_template) %></td>
          <td><%= link_to t(:destroy), admin_field_set_template_field_template_path(@field_set_template, field_template), :method => :delete, :confirm => "Vill du verkligen ta bort #{field_template.label}? Fältet och dess infomation kommer tas bort från alla #{@field_set_template.title} sidor." %>
        </tr>
        <% end -%>
      </tbody>
    </table>
    <% else -%>
    <p class="notice"><%= t('.blank_slate') %></p>
    <% end -%>
  </div>
</div>