<% @page_title = t('.title') %>
<div id="workspace">
  <div class="header">
    <h1><%=t '.title'%> </h1>
  </div>
  <div id="content">
    <div id="c_1">
      <%= form_for @content, :as => :content, :url => admin_page_datum_content_path(@page, @datum, @content) do |f| %>
        <%= render :partial => 'admin/contents/teasers/form', :locals => { :f => f } %>
      <% end %>
    </div>
    <div id="c_2">
      <%= link_to(t('.add_image'), admin_assets_path(:by_type => 'ImageAsset' , :create_callback => {
          :path => admin_page_datum_content_path(@page, @datum, @content),
          :method => 'put',
          :asset_field_name => 'content[new_asset_id]',
          :params => {
            :return_to => request.fullpath
          }
        }), :class => 'new') %>
      <% if @content.assets.any? %>
        <h2>Bilder</h2>
        <ul id="assets" class="assets sortable_tree">
        <% @content.assets.each do |asset| %>
          <li id="asset_<%= asset.id %>">
            <%= image_tag('/graphics/admin/icons/move-vertical.gif', :class => "handle", :style => 'display:none') %>
            <%= image_tag asset.version_url(:size => 'c80x80') %>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>