<% @page_title = t('.title') %>
<div id="workspace">
  <div class="header">
    <h1><%=t '.title' %></h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for @content, :as => :content, :url => admin_page_datum_contents_path(@page, @datum) do |f| %>
        <%= render :partial => 'admin/contents/images/form', :locals => { :f => f } %>
        <div class="submit">
          <%= f.submit t(:save)%> eller <a href="<%= previous_view_path %>" class="back">avbryt</a>
        </div>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <%= image_tag @content.asset.version_url(:size => 'w270'), :width => 270 %>
    </div></div>
  </div>
</div>
