<% @page_title = t('.title') %>
<div id="workspace">
  <div class="header">
    <h1><%=t '.title' %></h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for [:admin, @content], :as => :content, :url => admin_contents_path do |f| %>
        <%= render :partial => 'admin/contents/images/form', :locals => { :f => f } %>
        <div class="submit">
          <input type="submit" value="Lägg till bild"> eller <a href="<%= previous_view_path %>" class="back">avbryt</a>
        </div>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
      <%= image_tag @content.asset.version_url(:size => '320'), :width => 270 %>
    </div></div>
  </div>
</div>
