<% @page_title = "Användare > Ändra #{@user.name}" -%>
<div id="workspace">
  <div class="header">
    <h1><span class="pre">Ändra</span> <%= @user.name %></h1>
  </div>
  <div id="content">
    <div id="c_1"><div class="inner">
      <%= form_for @user, :url => admin_user_path(@user), :html => { :method => :put, :multipart => true, :autocomplete => "off" } do |f| %>
        <%= render :partial => "form", :locals => { :f => f } %>
        <div class="submit">
          <%= f.submit t(:save) %> eller <%= link_to "Avbryt", previous_view_path(admin_users_path) %>
        </div>
      <% end %>
    </div></div>
    <div id="c_2"><div class="inner">
    </div></div>
  </div>
</div>
