<div class="label">Innehåll</div>
<ul class="nav">
  <li><%= link_to "Inställningar", admin_site_settings_path %></li>
  <li><%= link_to "Delat innehåll", admin_content_lists_path %></li>
  <li><%= link_to "Sidtyper", admin_field_sets_path %></li>
  <li><%= link_to "Vidarebefordringar", admin_redirects_path %></li>
  <li><%= link_to "Nyckelord", admin_tags_path %></li>
  <li><%= link_to "Moduler", admin_content_modules_path %></li>
</ul>