<div class="label"><%= t(".title") %></div>
<ul class="nav">
  <li><%= link_to t(".site_settings"), admin_site_settings_path %></li>
  <li><%= link_to t(".page_templates"), admin_page_templates_path %></li>
  <li><%= link_to t(".content_templates"), admin_content_templates_path %></li>
  <li><%= link_to t(".redirects"), admin_redirects_path %></li>
  <li><%= link_to t(".tags"), admin_tags_path %></li>
  <li><%= link_to t(".display_options"), admin_display_options_path %></li>
</ul>
